.dropdown {
  --size-icon: 16px;

  $dropdown: &;

  position: relative;
  z-index: 2;
  display: inline-flex;
  width: 100%;
  margin: 5px;

  &.active {
    z-index: 3;

    // #{$dropdown}__button {
    // }

    #{$dropdown}__content {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }

    #{$dropdown}__arrow {
      transform: rotateX(-180deg);
    }
  }

  select {
    display: none;
  }

  &__button {
    position: relative;
    z-index: 2;
    width: 100%;
    margin: 0;
  }

  &__placeholder {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    b {
      font-weight: bold;
    }
  }

  &__arrow-wrapper {
    margin-left: 1em;
  }

  // & &__arrow {

  // }

  &__popper {
    #{$dropdown}__content {
      .is-ready & {
        position: static;
      }
    }
  }

  &__content {
    --position: calc(100% + 0.25rem);

    position: absolute;
    top: var(--position);
    left: 0;
    z-index: 1;
    width: 100%;
    min-width: 12.5rem;
    padding: 0.5rem;
    visibility: hidden;
    background-color: var(--base-white);
    border-radius: $border-radius;
    box-shadow: $primary-shadow;
    opacity: 0;
    transition-timing-function: $transition-timing-function;
    transition-duration: $transition-duration;
    transition-property: opacity, visibility, transform, box-shadow;
    transform: translateY(2rem);
  }
}
