.footer-nav-cell {
  &__title {
    font-size: 14px;
    font-weight: 900;
    line-height: 17px;
    margin: 0 0 22px;
    transition: all 0.2s ease-in;

    a {
      color: var(--white);

      &:hover {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__link {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    color: var(--white);
    transition: all 0.2s ease-in;

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    &:hover {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}
