.gear-decor-animate {
  width: 110px;
  height: 110px;

  &__inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: infinite spinner 8s linear;
  }
}
