@use 'sass:string';

@function hextorgb($hex) {
  @return red($hex), green($hex), blue($hex);
}

@function rem($px, $context: 16) {
  @return round($px / $context * 1rem * 10000) / 10000;
}

@function split-str($string, $separator) {
  $index: str-index($string, $separator);

  $str-1: str-slice($string, 1, $index - 1);
  $str-2: str-slice($string, $index + 1);

  @return $str-1 $str-2;
}

@function src-font($font, $path, $weight) {
  @return local($font + '-' + $weight),
    url($path + $font + '-' + $weight + '.woff2') format('woff2'),
    url($path + $font + '-' + $weight + '.woff') format('woff');
}
