.advantages {
  position: relative;
  padding-bottom: 0;

  .container {
    position: relative;
  }

  .swiper {
    @include max-width($breakpoint-md) {
      width: calc(100% + 32px);
      margin-left: -16px;
      padding: 0 16px;
    }

    @include max-width($breakpoint-sm) {
      width: calc(100% + 20px);
      margin-left: -10px;
      padding: 0 10px;
    }
  }

  &__row {
    display: flex;
    align-items: stretch;
    // margin-left: -8px;
    // margin-right: -8px;
    padding-bottom: 90px;
    // padding-left: 20px;
    // padding-right: 20px;

    @include max-width($breakpoint-md) {
      // flex-wrap: wrap;
      // row-gap: 16px;
    }

    @include max-width($breakpoint-sm) {
      // display: block;

      margin-left: 0;
      margin-right: 0;
    }

    @include max-width($breakpoint-md) {
      // display: grid;
      // grid-template-columns: repeat(2, 1fr);
    }

    &-item {
      width: calc(25% - 16px);
      margin-left: 8px;
      margin-right: 8px;

      @include max-width($breakpoint-md) {
        width: calc(50% - 16px);
      }

      @include max-width($breakpoint-sm) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;

        &:not(:last-child) {
          margin-bottom: 14px;
        }
      }
    }
  }

  .swiper-button-prev {
    background-color: transparent;
    margin: 0;
    top: 80px;
    left: 0;

    @include max-width($breakpoint-md) {
      display: none;
    }

    svg {
      fill: none;
      stroke: #b0cfe0;
    }
  }

  .swiper-button-next {
    background-color: transparent;
    margin: 0;
    top: 80px;
    right: 0;

    @include max-width($breakpoint-md) {
      display: none;
    }

    svg {
      fill: none;
      stroke: #b0cfe0;
    }
  }
}
