<form class="form form-configurator" action="" method="post">
  <div class="form-configurator__title">Подберем сетевое и серверное оборудования HPE</div>
  <div class="form-configurator__subtitle">
    Оставьте свои контактные данные<br>
    и мы перезвоним вам в ближайшее время
  </div>
  <input class="form-configurator__input" type="text" placeholder="Имя*" required>
  <input class="form-configurator__input" type="tel" placeholder="Номер телефона*" maxlength="18" required data-tel-input>
  <input class="form-configurator__input" type="email" placeholder="E-Mail*" required>
  <button class="form-configurator__button button" type="submit">Отправить</button>
</form>
