<label class="filters-checkbox">
  <input class="filters-checkbox__control" type="checkbox" hidden>
  <div class="filters-checkbox__box"></div>
  <div class="filters-checkbox__title">{{title}}</div>
</label>
