<!-- footer -->
<footer class="footer footer_desktop">
    <div class="container">
        <div class="footer__column">
            <a class="footer__logotype" href="#">
                <svg viewBox="0 0 171 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#a)" fill="#fff">
                        <path d="m15.185 26.508-.01-13.756-7.22 13.74H.582L.602.32h4.72l.03 22.497L16.725.32h5.134l-2.67 5.025v17.488L30.746.32h5.133c-4.555 8.592-9.203 17.595-13.764 26.188h-6.929ZM91.514 26.533c2.316 0 4.632-.01 6.949 0l.71-4.245c-2.168.01-4.371 0-6.514-.015-1.728-.01-3.692-.298-5.072-1.14-1.386-.841-2.189-2.232-2.598-3.972-.27-1.16-.291-2.53-.03-4.096.255-1.55.705-2.505 1.334-3.63.63-1.123 1.401-2.052 2.306-2.776a9.327 9.327 0 0 1 3.032-1.607c.67-.21 1.36-.354 2.071-.43.956-.109 1.897-.068 2.838-.068 1.427 0 3.022-.005 4.311-.01l.69-4.152h-5.778c-2.996 0-5.594.523-7.808 1.555a13.183 13.183 0 0 0-5.364 4.537c-1.37 1.992-2.295 4.055-2.776 6.94-.343 2.048-.338 3.875-.01 5.492.327 1.622.981 2.998 1.968 4.132.982 1.135 2.286 1.997 3.917 2.597 1.626.596 3.569.883 5.834.883l-.01.005ZM108.358 26.975c1.442 0 2.802-.22 4.085-.662a10.792 10.792 0 0 0 3.477-1.96c1.033-.868 1.902-1.957 2.608-3.25.711-1.294 1.207-2.803 1.498-4.517.368-2.192.332-4.07-.102-5.636-.44-1.555-1.304-2.746-2.593-3.577-1.293-.827-3.032-1.248-5.236-1.253-1.477 0-2.863.241-4.146.719a10.853 10.853 0 0 0-3.462 2.089c-1.028.913-1.887 2.027-2.577 3.341-.69 1.32-1.171 2.813-1.457 4.497-.343 2.12-.271 3.942.215 5.471.495 1.52 1.385 2.685 2.679 3.501 1.288.821 2.955 1.232 5.006 1.242l.005-.005Zm.9-3.901c-.936-.005-1.703-.17-2.291-.493a3.066 3.066 0 0 1-1.309-1.355c-.286-.575-.45-1.262-.486-2.043-.041-.785.016-1.642.174-2.566.138-.863.353-1.694.634-2.484a8.218 8.218 0 0 1 1.13-2.12 5.156 5.156 0 0 1 1.754-1.479c.695-.359 1.524-.549 2.485-.554.971.005 1.749.195 2.326.554.578.365.992.852 1.248 1.479.256.62.394 1.324.409 2.11a13.02 13.02 0 0 1-.199 2.463 14.804 14.804 0 0 1-.624 2.536 7.544 7.544 0 0 1-1.084 2.068 4.774 4.774 0 0 1-1.703 1.386c-.68.329-1.498.498-2.454.503l-.01-.005ZM119.806 26.538h4.832l2.751-16.63c.189 0 1.181-.005 2.342 0 .593 0 1.232 0 1.83.02 3.247.134 3.39 1.212 2.838 4.538l-1.994 12.072h4.796l2.091-12.652c.343-2.079.762-4.337-.317-5.913-.419-.616-1.068-1.124-2.04-1.478-.685-.252-1.519-.39-2.5-.375-3.426.046-6.376.04-9.301.046h-1.882l-3.451 20.372h.005ZM149.268 34.562h4.796l1.334-8.023c2.199-.046 4.832.159 7.149-.339 1.968-.426 3.574-1.37 5.031-2.915 2.112-2.254 2.71-4.764 3.175-7.505.363-2.232.327-4.06-.112-5.476-.435-1.422-1.233-2.475-2.388-3.147-.757-.441-1.601-.719-2.501-.873-1.14-.19-2.321-.133-3.502-.123-2.705.02-5.87-.02-8.324 0l-4.658 28.395v.006Zm6.764-11.93 2.102-12.713c.726 0 1.437-.006 2.132-.006 1.57 0 3.037.108 4.341 1.027.655.462 1.064 1.134 1.243 2.017.173.883.148 1.956-.067 3.229-.163.996-.44 1.92-.813 2.766-.603 1.36-1.692 2.993-3.226 3.409-.997.267-2.322.292-3.574.282-.711-.005-1.422.01-2.133 0l-.005-.01Z"/>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="m76.308 26.534.644-3.917c-1.365.02-3.21.041-4.591-.005-.711-.026-1.923-.251-2.184-.985-.112-.324-.112-.816 0-1.479l1.77-10.702h4.433l.613-3.721H72.56l.88-5.328H71.93L67.764 5.72H64.86l-.614 3.721h2.904L65.376 20.18c-.21 1.273-.23 2.315-.082 3.126.154.806.435 1.432.864 1.884.425.441.946.76 1.57.954.619.19 1.294.303 2.025.34.332.015.66.03.987.035 1.846.036 3.748 0 5.563.01l.005.006ZM53.417 26.564c.159 0 .317 0 .48-.01.532-.02 1.09-.072 1.678-.164.772-.113 1.539-.308 2.306-.585a9.185 9.185 0 0 0 2.168-1.13 6.703 6.703 0 0 0 1.713-1.786c1.375-2.079 1.534-4.984-.322-6.662-1.049-.95-2.393-1.546-3.707-2.049a31.358 31.358 0 0 1-1.81-.76c-.543-.25-.972-.533-1.279-.851-.307-.319-.424-.693-.363-1.145.041-.287.184-.57.414-.847.23-.277.573-.518 1.033-.693.89-.333 1.662-.43 2.475-.43 1.544 0 3.196-.011 4.75.01l.624-3.753c-1.928.005-3.436-.005-5.405-.015-1.043 0-2.05.123-3.022.37a9.613 9.613 0 0 0-2.658 1.113 6.91 6.91 0 0 0-2.015 1.874c-.537.744-.9 1.622-1.064 2.628-.163.996-.112 1.848.128 2.546.246.698.624 1.288 1.14 1.755.517.472 1.1.873 1.76 1.191.654.318 1.319.595 1.988.832.67.236 1.279.467 1.836.698.557.23.987.492 1.299.785.312.287.434.657.373 1.088-.056.37-.23.708-.521 1.016-.292.308-.747.555-1.355.74-.62.19-1.432.287-2.455.287-1.825 0-4.249.005-6.12 0l-.66 3.927c1.754 0 4.807.01 6.601.015l-.01.005Z"/>
                        <path d="m45.072 26.549.66-3.932c-2.567-.026-6.182.154-8.33-.118-.091-.01-.183-.036-.27-.051-.619-.14-1.146-.365-1.59-.678-.507-.36-.865-.873-1.07-1.55-.204-.673-.214-1.365-.04-2.454h12.931l.292-1.75c.342-2.084.373-3.875.071-5.374-.301-1.494-.981-2.638-2.035-3.44-1.053-.8-2.536-1.205-4.443-1.216-1.401 0-2.725.17-3.963.534a9.48 9.48 0 0 0-3.364 1.792c-1.008.831-1.867 1.93-2.577 3.315-.706 1.381-1.238 3.085-1.57 5.113-.322 1.945-.348 3.372-.087 4.67.26 1.3.772 2.331 1.534 3.096a6.07 6.07 0 0 0 1.881 1.262c1.396.606 2.94.709 4.53.75 2.414.061 5.124.046 7.446.02l-.006.01Zm-9.996-12.027c.261-1.093.63-2.017 1.125-2.771.496-.755 1.079-1.325 1.759-1.715a4.446 4.446 0 0 1 2.24-.585c.797 0 1.426.226 1.892.652.46.426.756 1.016.894 1.776s.118 1.642-.061 2.643h-7.849ZM139.609 9.908c.419 0 3.119 0 3.528.02 3.247.134 3.39 1.212 2.838 4.538l-1.995 12.072h4.797l2.091-12.652c.475-2.89 1.099-6.134-2.357-7.391-.685-.252-1.514-.39-2.501-.375-1.222.015-2.382.025-3.507.03l-2.899 3.758h.005ZM2.157 42.476a4.064 4.064 0 0 1-1.585-1.53 4.215 4.215 0 0 1-.578-2.181c0-.806.194-1.53.578-2.181.383-.652.91-1.16 1.585-1.53.67-.37 1.427-.555 2.265-.555.839 0 1.58.185 2.255.555.675.37 1.197.878 1.58 1.524.378.647.568 1.376.568 2.187 0 .81-.19 1.54-.568 2.187a4.04 4.04 0 0 1-1.58 1.524c-.675.37-1.427.554-2.255.554-.828 0-1.595-.184-2.265-.554Zm3.912-.924a3.06 3.06 0 0 0 1.15-1.15c.281-.487.42-1.037.42-1.637 0-.6-.139-1.15-.42-1.637a3.06 3.06 0 0 0-1.15-1.15 3.252 3.252 0 0 0-1.642-.416c-.608 0-1.16.139-1.656.416a2.981 2.981 0 0 0-1.161 1.15 3.225 3.225 0 0 0-.42 1.637c0 .6.139 1.15.42 1.637.281.488.67.873 1.16 1.15a3.337 3.337 0 0 0 1.657.416c.609 0 1.156-.139 1.642-.416ZM15.175 37.23c.46.262.818.627 1.074 1.089.256.467.383.995.383 1.59 0 .596-.138 1.156-.409 1.628a2.812 2.812 0 0 1-1.15 1.104c-.496.261-1.059.395-1.693.395-1.068 0-1.892-.37-2.474-1.104-.583-.734-.875-1.77-.875-3.105s.266-2.31.798-3.044 1.34-1.222 2.434-1.458l2.873-.641.17 1.047-2.65.57c-.823.184-1.436.492-1.84.928-.404.437-.634 1.063-.69 1.884a2.782 2.782 0 0 1 1.043-.939c.43-.22.905-.334 1.436-.334.588 0 1.11.129 1.565.395l.005-.005Zm-.695 4.574c.312-.185.557-.437.73-.755.175-.323.262-.688.262-1.103 0-.627-.19-1.135-.568-1.514-.378-.38-.88-.57-1.493-.57-.614 0-1.12.19-1.503.57-.384.38-.578.887-.578 1.514 0 .41.087.78.266 1.103.179.324.424.575.741.755.317.185.675.272 1.069.272a2.14 2.14 0 0 0 1.074-.272ZM19.266 42.59a3.041 3.041 0 0 1-1.17-1.15c-.282-.488-.42-1.042-.42-1.664 0-.62.138-1.175.42-1.663.28-.487.669-.867 1.17-1.144a3.466 3.466 0 0 1 1.687-.41c.63 0 1.187.138 1.677.41.496.272.885.657 1.161 1.144.281.488.42 1.042.42 1.663s-.139 1.176-.42 1.663a3.05 3.05 0 0 1-1.16 1.15 3.373 3.373 0 0 1-1.678.416 3.426 3.426 0 0 1-1.687-.416Zm2.771-.863c.323-.185.573-.447.752-.785.184-.34.271-.724.271-1.16 0-.437-.092-.822-.271-1.16a1.97 1.97 0 0 0-.752-.78 2.127 2.127 0 0 0-1.084-.273c-.404 0-.767.093-1.084.272a1.994 1.994 0 0 0-.761.78 2.388 2.388 0 0 0-.282 1.16c0 .437.092.827.282 1.16.183.34.44.601.761.786.323.185.68.277 1.084.277s.767-.092 1.084-.277ZM30.704 36.968c.48.272.859.647 1.135 1.135.27.482.409 1.047.409 1.678 0 .632-.138 1.196-.41 1.689a2.89 2.89 0 0 1-1.134 1.14c-.481.272-1.028.405-1.637.405a2.93 2.93 0 0 1-1.242-.262 2.604 2.604 0 0 1-.956-.765v3.265h-1.14V36.63h1.094v1c.255-.348.572-.615.961-.79.389-.18.813-.267 1.283-.267.609 0 1.156.134 1.637.406v-.01Zm-.65 4.759c.322-.185.573-.447.762-.786.184-.338.281-.723.281-1.16 0-.436-.092-.821-.28-1.16a1.958 1.958 0 0 0-.763-.78 2.127 2.127 0 0 0-1.084-.272c-.404 0-.751.092-1.073.277a2.029 2.029 0 0 0-.762.78 2.354 2.354 0 0 0-.282 1.155c0 .437.092.827.271 1.16.184.34.435.6.762.786.322.184.685.277 1.08.277.393 0 .766-.093 1.083-.277h.005ZM39.27 36.62l-3.053 6.944c-.271.642-.583 1.094-.946 1.36-.358.262-.793.396-1.299.396-.307 0-.608-.051-.895-.149a1.832 1.832 0 0 1-.716-.436l.486-.858c.322.308.7.468 1.13.468.276 0 .506-.072.696-.221.189-.149.352-.4.506-.755l.2-.441-2.777-6.303h1.186l2.194 5.05 2.173-5.05h1.114v-.005ZM46.494 41.937v2.464h-1.069v-1.463H40.17v1.463h-1.08v-2.464h.333c.404-.026.68-.308.829-.857.148-.55.255-1.324.306-2.325l.097-2.13h4.878v5.312h.962Zm-5.088-1.124c-.097.518-.281.898-.542 1.124h3.523v-4.312h-2.73l-.062 1.217c-.03.796-.097 1.453-.194 1.97h.005ZM48.809 42.59a3.043 3.043 0 0 1-1.171-1.15c-.281-.488-.42-1.042-.42-1.664 0-.62.139-1.175.42-1.663.281-.487.67-.867 1.17-1.144a3.467 3.467 0 0 1 1.688-.41c.63 0 1.187.138 1.677.41.496.272.885.657 1.161 1.144.281.488.42 1.042.42 1.663s-.139 1.176-.42 1.663a3.05 3.05 0 0 1-1.16 1.15 3.374 3.374 0 0 1-1.678.416 3.427 3.427 0 0 1-1.687-.416Zm2.771-.863c.322-.185.573-.447.752-.785.184-.34.27-.724.27-1.16 0-.437-.091-.822-.27-1.16a1.969 1.969 0 0 0-.752-.78 2.127 2.127 0 0 0-1.084-.273c-.404 0-.767.093-1.084.272a1.994 1.994 0 0 0-.762.78 2.39 2.39 0 0 0-.28 1.16c0 .437.091.827.28 1.16.184.34.44.601.762.786.322.185.68.277 1.084.277s.767-.092 1.084-.277ZM60.81 41.198c0 .554-.21.985-.624 1.288-.414.303-1.033.452-1.856.452h-3.027v-6.314h2.92c.74 0 1.324.14 1.743.421.42.283.629.683.629 1.196 0 .334-.087.621-.266.863a1.681 1.681 0 0 1-.741.554c.813.205 1.222.719 1.222 1.535v.005Zm-4.393-1.858h1.708c.435 0 .767-.077.992-.236.225-.16.338-.39.338-.693 0-.606-.445-.904-1.33-.904h-1.708v1.833Zm2.895 2.49c.235-.15.357-.386.357-.704 0-.318-.107-.57-.327-.729-.22-.159-.557-.236-1.028-.236h-1.897v1.894h1.826c.475 0 .828-.077 1.069-.226ZM66.762 37.205c.465.431.695 1.068.695 1.92v3.813H66.38v-.831c-.19.292-.46.518-.814.672-.352.154-.766.231-1.252.231-.706 0-1.268-.17-1.693-.513-.424-.344-.634-.79-.634-1.345 0-.554.2-1 .604-1.34.404-.338 1.043-.508 1.922-.508h1.805v-.226c0-.492-.143-.867-.43-1.134-.286-.267-.705-.395-1.257-.395-.373 0-.736.061-1.094.184a2.802 2.802 0 0 0-.9.493l-.476-.857a3.41 3.41 0 0 1 1.16-.6c.45-.139.931-.21 1.438-.21.869 0 1.539.215 1.999.64l.005.006Zm-1.135 4.63c.317-.195.547-.473.69-.827v-.883h-1.759c-.966 0-1.447.324-1.447.976 0 .318.123.57.368.75.246.184.588.271 1.023.271.435 0 .813-.097 1.13-.292l-.005.005ZM69.35 36.62h1.14v2.679h3.584v-2.68h1.14v6.314h-1.14V40.29H70.49v2.643h-1.14V36.62ZM77.209 36.62h1.14v4.599l3.856-4.6h1.032v6.314h-1.14v-4.599l-3.845 4.6H77.21V36.62ZM91.01 40.161h-5.103c.071.554.317 1.001.73 1.34.415.339.931.508 1.55.508.752 0 1.355-.257 1.815-.765l.63.74c-.287.333-.64.584-1.064.764a3.685 3.685 0 0 1-1.417.262c-.664 0-1.252-.139-1.769-.41a2.897 2.897 0 0 1-1.191-1.15c-.282-.493-.42-1.048-.42-1.669 0-.62.138-1.165.41-1.658.27-.492.649-.877 1.13-1.15a3.225 3.225 0 0 1 1.62-.41c.604 0 1.136.139 1.606.41.47.273.838.658 1.104 1.15.266.493.4 1.058.4 1.694 0 .087-.011.2-.021.344h-.01Zm-4.46-2.135c-.367.333-.582.77-.643 1.309h4.034c-.062-.534-.276-.965-.65-1.304-.368-.339-.823-.508-1.37-.508-.547 0-1.002.17-1.37.498v.005ZM103.28 34.597v8.341h-1.186v-3.716h-4.771v3.716h-1.186v-8.34h1.186v3.587h4.771v-3.588h1.186ZM111.318 35.372c.619.519.926 1.227.926 2.136 0 .908-.307 1.616-.926 2.13-.619.513-1.462.775-2.541.775h-2.056v2.525h-1.186v-8.34h3.242c1.074 0 1.922.256 2.541.774Zm-.854 3.521c.394-.323.593-.785.593-1.386 0-.6-.199-1.067-.593-1.385-.393-.324-.971-.483-1.723-.483h-2.02v3.742h2.02c.752 0 1.324-.16 1.723-.483v-.005ZM119.816 41.901v1.037h-6.029v-8.34h5.865v1.036h-4.679v2.561h4.168v1.011h-4.168v2.695h4.843Z"/>
                    </g>
                    <defs>
                        <clipPath id="a">
                            <path fill="#fff" transform="translate(0 .32)" d="M0 0h171v45H0z"/>
                        </clipPath>
                    </defs>
                </svg>
            </a>
            <div class="footer-contacts">
                <div class="footer-contacts-item">
                    <div class="footer-contacts-item__title">Телефоны:</div>
                    <a class="footer-contacts-item__phone" href="tel:+78001006363">8 (800) 100-63-63</a>
                    <a class="footer-contacts-item__phone" href="tel:+74956467844">8 (495) 646-78-44</a>
                </div>
                <div class="footer-contacts-item">
                    <div class="footer-contacts-item__title">E-mail:</div>
                    <a class="footer-contacts-item__email" href="mailto:info@westcomp.ru">info@westcomp.ru</a>
                </div>
                <div class="footer-contacts-item">
                    <div class="footer-contacts-item__title">Адрес:</div>
                    <div class="footer-contacts-item-address">
                        <div class="footer-contacts-item-address__text">
                            127550 г. Москва,
                        </div>
                        <div class="footer-contacts-item-address__text">
                            ул. Прянишникова, дом 23а
                        </div>
                        <div class="footer-contacts-item-address__time">Пн-Пт с 09:30 до 19:00</div>
                        <div class="footer-contacts-item-address__time">Сб, Вс - выходные дни</div>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">© WestComp, 2003 — 2024 года</div>
        </div>
        <div class="footer__column">
            <form class="footer-search" action="" method="get">
                <input class="footer-search__control" type="text" placeholder="Поиск по сайту" required>
                <button class="footer-search__button" type="submit">
                    <svg viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17 16.3198L11.6442 10.964M2 6.96926C2 10.0893 4.52935 12.6187 7.64943 12.6187C10.7695 12.6187 13.2989 10.0893 13.2989 6.96926C13.2989 3.84917 10.7695 1.31982 7.64943 1.31982C4.52935 1.31982 2 3.84917 2 6.96926Z"
                              stroke="#FFFEFE" stroke-width="2.3" stroke-miterlimit="10"/>
                    </svg>
                </button>
            </form>
            <div class="footer__row">
                <div class="footer-links">
                    <div class="footer-links__title">Компания</div>
                    <div class="footer-links__items">
                        <a class="footer-links__item" href="#">Контакты</a>
                        <a class="footer-links__item" href="#">Реквизиты</a>
                    </div>
                </div>
                <div class="footer-links">
                    <div class="footer-links__title">Информация</div>
                    <div class="footer-links__items">
                        <a class="footer-links__item" href="#">Блог</a>
                        <a class="footer-links__item" href="#">Новости</a>
                        <a class="footer-links__item" href="#">Акции</a>
                        <a class="footer-links__item" href="#">Способы оплаты</a>
                    </div>
                </div>
                <div class="footer__links-column">
                    <a class="footer__link" href="#">Каталог</a>
                    <a class="footer__link" href="#">Конфигураторы</a>
                </div>
            </div>
        </div>
        <div class="footer__column">
            <div class="footer-socials">
                <a class="footer-socials__item" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 180">
                        <path fill="#f00"
                              d="M250.346 28.075A32.18 32.18 0 0 0 227.69 5.418C207.824 0 127.87 0 127.87 0S47.912.164 28.046 5.582A32.18 32.18 0 0 0 5.39 28.24c-6.009 35.298-8.34 89.084.165 122.97a32.18 32.18 0 0 0 22.656 22.657c19.866 5.418 99.822 5.418 99.822 5.418s79.955 0 99.82-5.418a32.18 32.18 0 0 0 22.657-22.657c6.338-35.348 8.291-89.1-.164-123.134"/>
                        <path fill="#fff" d="m102.421 128.06l66.328-38.418l-66.328-38.418z"/>
                    </svg>
                </a>
                <a class="footer-socials__item" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 258">
                        <defs>
                            <linearGradient id="logosWhatsappIcon0" x1="50%" x2="50%" y1="100%" y2="0%">
                                <stop offset="0%" stop-color="#1faf38"/>
                                <stop offset="100%" stop-color="#60d669"/>
                            </linearGradient>
                            <linearGradient id="logosWhatsappIcon1" x1="50%" x2="50%" y1="100%" y2="0%">
                                <stop offset="0%" stop-color="#f9f9f9"/>
                                <stop offset="100%" stop-color="#fff"/>
                            </linearGradient>
                        </defs>
                        <path fill="url(#logosWhatsappIcon0)"
                              d="M5.463 127.456c-.006 21.677 5.658 42.843 16.428 61.499L4.433 252.697l65.232-17.104a122.994 122.994 0 0 0 58.8 14.97h.054c67.815 0 123.018-55.183 123.047-123.01c.013-32.867-12.775-63.773-36.009-87.025c-23.23-23.25-54.125-36.061-87.043-36.076c-67.823 0-123.022 55.18-123.05 123.004"/>
                        <path fill="url(#logosWhatsappIcon1)"
                              d="M1.07 127.416c-.007 22.457 5.86 44.38 17.014 63.704L0 257.147l67.571-17.717c18.618 10.151 39.58 15.503 60.91 15.511h.055c70.248 0 127.434-57.168 127.464-127.423c.012-34.048-13.236-66.065-37.3-90.15C194.633 13.286 162.633.014 128.536 0C58.276 0 1.099 57.16 1.071 127.416m40.24 60.376l-2.523-4.005c-10.606-16.864-16.204-36.352-16.196-56.363C22.614 69.029 70.138 21.52 128.576 21.52c28.3.012 54.896 11.044 74.9 31.06c20.003 20.018 31.01 46.628 31.003 74.93c-.026 58.395-47.551 105.91-105.943 105.91h-.042c-19.013-.01-37.66-5.116-53.922-14.765l-3.87-2.295l-40.098 10.513z"/>
                        <path fill="#fff"
                              d="M96.678 74.148c-2.386-5.303-4.897-5.41-7.166-5.503c-1.858-.08-3.982-.074-6.104-.074c-2.124 0-5.575.799-8.492 3.984c-2.92 3.188-11.148 10.892-11.148 26.561c0 15.67 11.413 30.813 13.004 32.94c1.593 2.123 22.033 35.307 54.405 48.073c26.904 10.609 32.379 8.499 38.218 7.967c5.84-.53 18.844-7.702 21.497-15.139c2.655-7.436 2.655-13.81 1.859-15.142c-.796-1.327-2.92-2.124-6.105-3.716c-3.186-1.593-18.844-9.298-21.763-10.361c-2.92-1.062-5.043-1.592-7.167 1.597c-2.124 3.184-8.223 10.356-10.082 12.48c-1.857 2.129-3.716 2.394-6.9.801c-3.187-1.598-13.444-4.957-25.613-15.806c-9.468-8.442-15.86-18.867-17.718-22.056c-1.858-3.184-.199-4.91 1.398-6.497c1.431-1.427 3.186-3.719 4.78-5.578c1.588-1.86 2.118-3.187 3.18-5.311c1.063-2.126.531-3.986-.264-5.579c-.798-1.593-6.987-17.343-9.819-23.64"/>
                    </svg>
                </a>
                <a class="footer-socials__item" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
                        <defs>
                            <linearGradient id="logosTelegram0" x1="50%" x2="50%" y1="0%" y2="100%">
                                <stop offset="0%" stop-color="#2aabee"/>
                                <stop offset="100%" stop-color="#229ed9"/>
                            </linearGradient>
                        </defs>
                        <path fill="url(#logosTelegram0)"
                              d="M128 0C94.06 0 61.48 13.494 37.5 37.49A128.038 128.038 0 0 0 0 128c0 33.934 13.5 66.514 37.5 90.51C61.48 242.506 94.06 256 128 256s66.52-13.494 90.5-37.49c24-23.996 37.5-56.576 37.5-90.51c0-33.934-13.5-66.514-37.5-90.51C194.52 13.494 161.94 0 128 0"/>
                        <path fill="#fff"
                              d="M57.94 126.648c37.32-16.256 62.2-26.974 74.64-32.152c35.56-14.786 42.94-17.354 47.76-17.441c1.06-.017 3.42.245 4.96 1.49c1.28 1.05 1.64 2.47 1.82 3.467c.16.996.38 3.266.2 5.038c-1.92 20.24-10.26 69.356-14.5 92.026c-1.78 9.592-5.32 12.808-8.74 13.122c-7.44.684-13.08-4.912-20.28-9.63c-11.26-7.386-17.62-11.982-28.56-19.188c-12.64-8.328-4.44-12.906 2.76-20.386c1.88-1.958 34.64-31.748 35.26-34.45c.08-.338.16-1.598-.6-2.262c-.74-.666-1.84-.438-2.64-.258c-1.14.256-19.12 12.152-54 35.686c-5.1 3.508-9.72 5.218-13.88 5.128c-4.56-.098-13.36-2.584-19.9-4.708c-8-2.606-14.38-3.984-13.82-8.41c.28-2.304 3.46-4.662 9.52-7.072"/>
                    </svg>
                </a>
            </div>
            <div class="footer-links">
                <div class="footer-links__title">Сервис WestComp</div>
                <div class="footer-links__items">
                    <a class="footer-links__item" href="#">Техническая поддержка HPE</a>
                    <a class="footer-links__item" href="#">Обучение и курсы HPE</a>
                    <a class="footer-links__item" href="#">Colocation в ЦОД Москвы</a>
                    <a class="footer-links__item" href="#">Лизинг</a>
                    <a class="footer-links__item" href="#">Доставка</a>
                    <a class="footer-links__item" href="#">Гарантия на сервер</a>
                </div>
            </div>
        </div>
        <button class="footer__button-scroll-up" type="button">
            <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 9.39683L16 6.30845L7.99843 -3.4976e-07L-2.75751e-07 6.30845L-4.10748e-07 9.39683L7.99843 3.08524L16 9.39683Z"
                      fill="white"/>
            </svg>
        </button>
    </div>
</footer>

<footer class="footer footer_tablet">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__column">
                <a class="footer__logotype" href="#">
                    <svg viewBox="0 0 171 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#a)" fill="#fff">
                            <path d="m15.185 26.508-.01-13.756-7.22 13.74H.582L.602.32h4.72l.03 22.497L16.725.32h5.134l-2.67 5.025v17.488L30.746.32h5.133c-4.555 8.592-9.203 17.595-13.764 26.188h-6.929ZM91.514 26.533c2.316 0 4.632-.01 6.949 0l.71-4.245c-2.168.01-4.371 0-6.514-.015-1.728-.01-3.692-.298-5.072-1.14-1.386-.841-2.189-2.232-2.598-3.972-.27-1.16-.291-2.53-.03-4.096.255-1.55.705-2.505 1.334-3.63.63-1.123 1.401-2.052 2.306-2.776a9.327 9.327 0 0 1 3.032-1.607c.67-.21 1.36-.354 2.071-.43.956-.109 1.897-.068 2.838-.068 1.427 0 3.022-.005 4.311-.01l.69-4.152h-5.778c-2.996 0-5.594.523-7.808 1.555a13.183 13.183 0 0 0-5.364 4.537c-1.37 1.992-2.295 4.055-2.776 6.94-.343 2.048-.338 3.875-.01 5.492.327 1.622.981 2.998 1.968 4.132.982 1.135 2.286 1.997 3.917 2.597 1.626.596 3.569.883 5.834.883l-.01.005ZM108.358 26.975c1.442 0 2.802-.22 4.085-.662a10.792 10.792 0 0 0 3.477-1.96c1.033-.868 1.902-1.957 2.608-3.25.711-1.294 1.207-2.803 1.498-4.517.368-2.192.332-4.07-.102-5.636-.44-1.555-1.304-2.746-2.593-3.577-1.293-.827-3.032-1.248-5.236-1.253-1.477 0-2.863.241-4.146.719a10.853 10.853 0 0 0-3.462 2.089c-1.028.913-1.887 2.027-2.577 3.341-.69 1.32-1.171 2.813-1.457 4.497-.343 2.12-.271 3.942.215 5.471.495 1.52 1.385 2.685 2.679 3.501 1.288.821 2.955 1.232 5.006 1.242l.005-.005Zm.9-3.901c-.936-.005-1.703-.17-2.291-.493a3.066 3.066 0 0 1-1.309-1.355c-.286-.575-.45-1.262-.486-2.043-.041-.785.016-1.642.174-2.566.138-.863.353-1.694.634-2.484a8.218 8.218 0 0 1 1.13-2.12 5.156 5.156 0 0 1 1.754-1.479c.695-.359 1.524-.549 2.485-.554.971.005 1.749.195 2.326.554.578.365.992.852 1.248 1.479.256.62.394 1.324.409 2.11a13.02 13.02 0 0 1-.199 2.463 14.804 14.804 0 0 1-.624 2.536 7.544 7.544 0 0 1-1.084 2.068 4.774 4.774 0 0 1-1.703 1.386c-.68.329-1.498.498-2.454.503l-.01-.005ZM119.806 26.538h4.832l2.751-16.63c.189 0 1.181-.005 2.342 0 .593 0 1.232 0 1.83.02 3.247.134 3.39 1.212 2.838 4.538l-1.994 12.072h4.796l2.091-12.652c.343-2.079.762-4.337-.317-5.913-.419-.616-1.068-1.124-2.04-1.478-.685-.252-1.519-.39-2.5-.375-3.426.046-6.376.04-9.301.046h-1.882l-3.451 20.372h.005ZM149.268 34.562h4.796l1.334-8.023c2.199-.046 4.832.159 7.149-.339 1.968-.426 3.574-1.37 5.031-2.915 2.112-2.254 2.71-4.764 3.175-7.505.363-2.232.327-4.06-.112-5.476-.435-1.422-1.233-2.475-2.388-3.147-.757-.441-1.601-.719-2.501-.873-1.14-.19-2.321-.133-3.502-.123-2.705.02-5.87-.02-8.324 0l-4.658 28.395v.006Zm6.764-11.93 2.102-12.713c.726 0 1.437-.006 2.132-.006 1.57 0 3.037.108 4.341 1.027.655.462 1.064 1.134 1.243 2.017.173.883.148 1.956-.067 3.229-.163.996-.44 1.92-.813 2.766-.603 1.36-1.692 2.993-3.226 3.409-.997.267-2.322.292-3.574.282-.711-.005-1.422.01-2.133 0l-.005-.01Z"/>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="m76.308 26.534.644-3.917c-1.365.02-3.21.041-4.591-.005-.711-.026-1.923-.251-2.184-.985-.112-.324-.112-.816 0-1.479l1.77-10.702h4.433l.613-3.721H72.56l.88-5.328H71.93L67.764 5.72H64.86l-.614 3.721h2.904L65.376 20.18c-.21 1.273-.23 2.315-.082 3.126.154.806.435 1.432.864 1.884.425.441.946.76 1.57.954.619.19 1.294.303 2.025.34.332.015.66.03.987.035 1.846.036 3.748 0 5.563.01l.005.006ZM53.417 26.564c.159 0 .317 0 .48-.01.532-.02 1.09-.072 1.678-.164.772-.113 1.539-.308 2.306-.585a9.185 9.185 0 0 0 2.168-1.13 6.703 6.703 0 0 0 1.713-1.786c1.375-2.079 1.534-4.984-.322-6.662-1.049-.95-2.393-1.546-3.707-2.049a31.358 31.358 0 0 1-1.81-.76c-.543-.25-.972-.533-1.279-.851-.307-.319-.424-.693-.363-1.145.041-.287.184-.57.414-.847.23-.277.573-.518 1.033-.693.89-.333 1.662-.43 2.475-.43 1.544 0 3.196-.011 4.75.01l.624-3.753c-1.928.005-3.436-.005-5.405-.015-1.043 0-2.05.123-3.022.37a9.613 9.613 0 0 0-2.658 1.113 6.91 6.91 0 0 0-2.015 1.874c-.537.744-.9 1.622-1.064 2.628-.163.996-.112 1.848.128 2.546.246.698.624 1.288 1.14 1.755.517.472 1.1.873 1.76 1.191.654.318 1.319.595 1.988.832.67.236 1.279.467 1.836.698.557.23.987.492 1.299.785.312.287.434.657.373 1.088-.056.37-.23.708-.521 1.016-.292.308-.747.555-1.355.74-.62.19-1.432.287-2.455.287-1.825 0-4.249.005-6.12 0l-.66 3.927c1.754 0 4.807.01 6.601.015l-.01.005Z"/>
                            <path d="m45.072 26.549.66-3.932c-2.567-.026-6.182.154-8.33-.118-.091-.01-.183-.036-.27-.051-.619-.14-1.146-.365-1.59-.678-.507-.36-.865-.873-1.07-1.55-.204-.673-.214-1.365-.04-2.454h12.931l.292-1.75c.342-2.084.373-3.875.071-5.374-.301-1.494-.981-2.638-2.035-3.44-1.053-.8-2.536-1.205-4.443-1.216-1.401 0-2.725.17-3.963.534a9.48 9.48 0 0 0-3.364 1.792c-1.008.831-1.867 1.93-2.577 3.315-.706 1.381-1.238 3.085-1.57 5.113-.322 1.945-.348 3.372-.087 4.67.26 1.3.772 2.331 1.534 3.096a6.07 6.07 0 0 0 1.881 1.262c1.396.606 2.94.709 4.53.75 2.414.061 5.124.046 7.446.02l-.006.01Zm-9.996-12.027c.261-1.093.63-2.017 1.125-2.771.496-.755 1.079-1.325 1.759-1.715a4.446 4.446 0 0 1 2.24-.585c.797 0 1.426.226 1.892.652.46.426.756 1.016.894 1.776s.118 1.642-.061 2.643h-7.849ZM139.609 9.908c.419 0 3.119 0 3.528.02 3.247.134 3.39 1.212 2.838 4.538l-1.995 12.072h4.797l2.091-12.652c.475-2.89 1.099-6.134-2.357-7.391-.685-.252-1.514-.39-2.501-.375-1.222.015-2.382.025-3.507.03l-2.899 3.758h.005ZM2.157 42.476a4.064 4.064 0 0 1-1.585-1.53 4.215 4.215 0 0 1-.578-2.181c0-.806.194-1.53.578-2.181.383-.652.91-1.16 1.585-1.53.67-.37 1.427-.555 2.265-.555.839 0 1.58.185 2.255.555.675.37 1.197.878 1.58 1.524.378.647.568 1.376.568 2.187 0 .81-.19 1.54-.568 2.187a4.04 4.04 0 0 1-1.58 1.524c-.675.37-1.427.554-2.255.554-.828 0-1.595-.184-2.265-.554Zm3.912-.924a3.06 3.06 0 0 0 1.15-1.15c.281-.487.42-1.037.42-1.637 0-.6-.139-1.15-.42-1.637a3.06 3.06 0 0 0-1.15-1.15 3.252 3.252 0 0 0-1.642-.416c-.608 0-1.16.139-1.656.416a2.981 2.981 0 0 0-1.161 1.15 3.225 3.225 0 0 0-.42 1.637c0 .6.139 1.15.42 1.637.281.488.67.873 1.16 1.15a3.337 3.337 0 0 0 1.657.416c.609 0 1.156-.139 1.642-.416ZM15.175 37.23c.46.262.818.627 1.074 1.089.256.467.383.995.383 1.59 0 .596-.138 1.156-.409 1.628a2.812 2.812 0 0 1-1.15 1.104c-.496.261-1.059.395-1.693.395-1.068 0-1.892-.37-2.474-1.104-.583-.734-.875-1.77-.875-3.105s.266-2.31.798-3.044 1.34-1.222 2.434-1.458l2.873-.641.17 1.047-2.65.57c-.823.184-1.436.492-1.84.928-.404.437-.634 1.063-.69 1.884a2.782 2.782 0 0 1 1.043-.939c.43-.22.905-.334 1.436-.334.588 0 1.11.129 1.565.395l.005-.005Zm-.695 4.574c.312-.185.557-.437.73-.755.175-.323.262-.688.262-1.103 0-.627-.19-1.135-.568-1.514-.378-.38-.88-.57-1.493-.57-.614 0-1.12.19-1.503.57-.384.38-.578.887-.578 1.514 0 .41.087.78.266 1.103.179.324.424.575.741.755.317.185.675.272 1.069.272a2.14 2.14 0 0 0 1.074-.272ZM19.266 42.59a3.041 3.041 0 0 1-1.17-1.15c-.282-.488-.42-1.042-.42-1.664 0-.62.138-1.175.42-1.663.28-.487.669-.867 1.17-1.144a3.466 3.466 0 0 1 1.687-.41c.63 0 1.187.138 1.677.41.496.272.885.657 1.161 1.144.281.488.42 1.042.42 1.663s-.139 1.176-.42 1.663a3.05 3.05 0 0 1-1.16 1.15 3.373 3.373 0 0 1-1.678.416 3.426 3.426 0 0 1-1.687-.416Zm2.771-.863c.323-.185.573-.447.752-.785.184-.34.271-.724.271-1.16 0-.437-.092-.822-.271-1.16a1.97 1.97 0 0 0-.752-.78 2.127 2.127 0 0 0-1.084-.273c-.404 0-.767.093-1.084.272a1.994 1.994 0 0 0-.761.78 2.388 2.388 0 0 0-.282 1.16c0 .437.092.827.282 1.16.183.34.44.601.761.786.323.185.68.277 1.084.277s.767-.092 1.084-.277ZM30.704 36.968c.48.272.859.647 1.135 1.135.27.482.409 1.047.409 1.678 0 .632-.138 1.196-.41 1.689a2.89 2.89 0 0 1-1.134 1.14c-.481.272-1.028.405-1.637.405a2.93 2.93 0 0 1-1.242-.262 2.604 2.604 0 0 1-.956-.765v3.265h-1.14V36.63h1.094v1c.255-.348.572-.615.961-.79.389-.18.813-.267 1.283-.267.609 0 1.156.134 1.637.406v-.01Zm-.65 4.759c.322-.185.573-.447.762-.786.184-.338.281-.723.281-1.16 0-.436-.092-.821-.28-1.16a1.958 1.958 0 0 0-.763-.78 2.127 2.127 0 0 0-1.084-.272c-.404 0-.751.092-1.073.277a2.029 2.029 0 0 0-.762.78 2.354 2.354 0 0 0-.282 1.155c0 .437.092.827.271 1.16.184.34.435.6.762.786.322.184.685.277 1.08.277.393 0 .766-.093 1.083-.277h.005ZM39.27 36.62l-3.053 6.944c-.271.642-.583 1.094-.946 1.36-.358.262-.793.396-1.299.396-.307 0-.608-.051-.895-.149a1.832 1.832 0 0 1-.716-.436l.486-.858c.322.308.7.468 1.13.468.276 0 .506-.072.696-.221.189-.149.352-.4.506-.755l.2-.441-2.777-6.303h1.186l2.194 5.05 2.173-5.05h1.114v-.005ZM46.494 41.937v2.464h-1.069v-1.463H40.17v1.463h-1.08v-2.464h.333c.404-.026.68-.308.829-.857.148-.55.255-1.324.306-2.325l.097-2.13h4.878v5.312h.962Zm-5.088-1.124c-.097.518-.281.898-.542 1.124h3.523v-4.312h-2.73l-.062 1.217c-.03.796-.097 1.453-.194 1.97h.005ZM48.809 42.59a3.043 3.043 0 0 1-1.171-1.15c-.281-.488-.42-1.042-.42-1.664 0-.62.139-1.175.42-1.663.281-.487.67-.867 1.17-1.144a3.467 3.467 0 0 1 1.688-.41c.63 0 1.187.138 1.677.41.496.272.885.657 1.161 1.144.281.488.42 1.042.42 1.663s-.139 1.176-.42 1.663a3.05 3.05 0 0 1-1.16 1.15 3.374 3.374 0 0 1-1.678.416 3.427 3.427 0 0 1-1.687-.416Zm2.771-.863c.322-.185.573-.447.752-.785.184-.34.27-.724.27-1.16 0-.437-.091-.822-.27-1.16a1.969 1.969 0 0 0-.752-.78 2.127 2.127 0 0 0-1.084-.273c-.404 0-.767.093-1.084.272a1.994 1.994 0 0 0-.762.78 2.39 2.39 0 0 0-.28 1.16c0 .437.091.827.28 1.16.184.34.44.601.762.786.322.185.68.277 1.084.277s.767-.092 1.084-.277ZM60.81 41.198c0 .554-.21.985-.624 1.288-.414.303-1.033.452-1.856.452h-3.027v-6.314h2.92c.74 0 1.324.14 1.743.421.42.283.629.683.629 1.196 0 .334-.087.621-.266.863a1.681 1.681 0 0 1-.741.554c.813.205 1.222.719 1.222 1.535v.005Zm-4.393-1.858h1.708c.435 0 .767-.077.992-.236.225-.16.338-.39.338-.693 0-.606-.445-.904-1.33-.904h-1.708v1.833Zm2.895 2.49c.235-.15.357-.386.357-.704 0-.318-.107-.57-.327-.729-.22-.159-.557-.236-1.028-.236h-1.897v1.894h1.826c.475 0 .828-.077 1.069-.226ZM66.762 37.205c.465.431.695 1.068.695 1.92v3.813H66.38v-.831c-.19.292-.46.518-.814.672-.352.154-.766.231-1.252.231-.706 0-1.268-.17-1.693-.513-.424-.344-.634-.79-.634-1.345 0-.554.2-1 .604-1.34.404-.338 1.043-.508 1.922-.508h1.805v-.226c0-.492-.143-.867-.43-1.134-.286-.267-.705-.395-1.257-.395-.373 0-.736.061-1.094.184a2.802 2.802 0 0 0-.9.493l-.476-.857a3.41 3.41 0 0 1 1.16-.6c.45-.139.931-.21 1.438-.21.869 0 1.539.215 1.999.64l.005.006Zm-1.135 4.63c.317-.195.547-.473.69-.827v-.883h-1.759c-.966 0-1.447.324-1.447.976 0 .318.123.57.368.75.246.184.588.271 1.023.271.435 0 .813-.097 1.13-.292l-.005.005ZM69.35 36.62h1.14v2.679h3.584v-2.68h1.14v6.314h-1.14V40.29H70.49v2.643h-1.14V36.62ZM77.209 36.62h1.14v4.599l3.856-4.6h1.032v6.314h-1.14v-4.599l-3.845 4.6H77.21V36.62ZM91.01 40.161h-5.103c.071.554.317 1.001.73 1.34.415.339.931.508 1.55.508.752 0 1.355-.257 1.815-.765l.63.74c-.287.333-.64.584-1.064.764a3.685 3.685 0 0 1-1.417.262c-.664 0-1.252-.139-1.769-.41a2.897 2.897 0 0 1-1.191-1.15c-.282-.493-.42-1.048-.42-1.669 0-.62.138-1.165.41-1.658.27-.492.649-.877 1.13-1.15a3.225 3.225 0 0 1 1.62-.41c.604 0 1.136.139 1.606.41.47.273.838.658 1.104 1.15.266.493.4 1.058.4 1.694 0 .087-.011.2-.021.344h-.01Zm-4.46-2.135c-.367.333-.582.77-.643 1.309h4.034c-.062-.534-.276-.965-.65-1.304-.368-.339-.823-.508-1.37-.508-.547 0-1.002.17-1.37.498v.005ZM103.28 34.597v8.341h-1.186v-3.716h-4.771v3.716h-1.186v-8.34h1.186v3.587h4.771v-3.588h1.186ZM111.318 35.372c.619.519.926 1.227.926 2.136 0 .908-.307 1.616-.926 2.13-.619.513-1.462.775-2.541.775h-2.056v2.525h-1.186v-8.34h3.242c1.074 0 1.922.256 2.541.774Zm-.854 3.521c.394-.323.593-.785.593-1.386 0-.6-.199-1.067-.593-1.385-.393-.324-.971-.483-1.723-.483h-2.02v3.742h2.02c.752 0 1.324-.16 1.723-.483v-.005ZM119.816 41.901v1.037h-6.029v-8.34h5.865v1.036h-4.679v2.561h4.168v1.011h-4.168v2.695h4.843Z"/>
                        </g>
                        <defs>
                            <clipPath id="a">
                                <path fill="#fff" transform="translate(0 .32)" d="M0 0h171v45H0z"/>
                            </clipPath>
                        </defs>
                    </svg>
                </a>
                <div class="footer-socials">
                    <a class="footer-socials__item" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 180">
                            <path fill="#f00"
                                  d="M250.346 28.075A32.18 32.18 0 0 0 227.69 5.418C207.824 0 127.87 0 127.87 0S47.912.164 28.046 5.582A32.18 32.18 0 0 0 5.39 28.24c-6.009 35.298-8.34 89.084.165 122.97a32.18 32.18 0 0 0 22.656 22.657c19.866 5.418 99.822 5.418 99.822 5.418s79.955 0 99.82-5.418a32.18 32.18 0 0 0 22.657-22.657c6.338-35.348 8.291-89.1-.164-123.134"/>
                            <path fill="#fff" d="m102.421 128.06l66.328-38.418l-66.328-38.418z"/>
                        </svg>
                    </a>
                    <a class="footer-socials__item" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 258">
                            <defs>
                                <linearGradient id="logosWhatsappIcon0_tablet" x1="50%" x2="50%" y1="100%" y2="0%">
                                    <stop offset="0%" stop-color="#1faf38"/>
                                    <stop offset="100%" stop-color="#60d669"/>
                                </linearGradient>
                                <linearGradient id="logosWhatsappIcon1_tablet" x1="50%" x2="50%" y1="100%" y2="0%">
                                    <stop offset="0%" stop-color="#f9f9f9"/>
                                    <stop offset="100%" stop-color="#fff"/>
                                </linearGradient>
                            </defs>
                            <path fill="url(#logosWhatsappIcon0_tablet)"
                                  d="M5.463 127.456c-.006 21.677 5.658 42.843 16.428 61.499L4.433 252.697l65.232-17.104a122.994 122.994 0 0 0 58.8 14.97h.054c67.815 0 123.018-55.183 123.047-123.01c.013-32.867-12.775-63.773-36.009-87.025c-23.23-23.25-54.125-36.061-87.043-36.076c-67.823 0-123.022 55.18-123.05 123.004"/>
                            <path fill="url(#logosWhatsappIcon1_tablet)"
                                  d="M1.07 127.416c-.007 22.457 5.86 44.38 17.014 63.704L0 257.147l67.571-17.717c18.618 10.151 39.58 15.503 60.91 15.511h.055c70.248 0 127.434-57.168 127.464-127.423c.012-34.048-13.236-66.065-37.3-90.15C194.633 13.286 162.633.014 128.536 0C58.276 0 1.099 57.16 1.071 127.416m40.24 60.376l-2.523-4.005c-10.606-16.864-16.204-36.352-16.196-56.363C22.614 69.029 70.138 21.52 128.576 21.52c28.3.012 54.896 11.044 74.9 31.06c20.003 20.018 31.01 46.628 31.003 74.93c-.026 58.395-47.551 105.91-105.943 105.91h-.042c-19.013-.01-37.66-5.116-53.922-14.765l-3.87-2.295l-40.098 10.513z"/>
                            <path fill="#fff"
                                  d="M96.678 74.148c-2.386-5.303-4.897-5.41-7.166-5.503c-1.858-.08-3.982-.074-6.104-.074c-2.124 0-5.575.799-8.492 3.984c-2.92 3.188-11.148 10.892-11.148 26.561c0 15.67 11.413 30.813 13.004 32.94c1.593 2.123 22.033 35.307 54.405 48.073c26.904 10.609 32.379 8.499 38.218 7.967c5.84-.53 18.844-7.702 21.497-15.139c2.655-7.436 2.655-13.81 1.859-15.142c-.796-1.327-2.92-2.124-6.105-3.716c-3.186-1.593-18.844-9.298-21.763-10.361c-2.92-1.062-5.043-1.592-7.167 1.597c-2.124 3.184-8.223 10.356-10.082 12.48c-1.857 2.129-3.716 2.394-6.9.801c-3.187-1.598-13.444-4.957-25.613-15.806c-9.468-8.442-15.86-18.867-17.718-22.056c-1.858-3.184-.199-4.91 1.398-6.497c1.431-1.427 3.186-3.719 4.78-5.578c1.588-1.86 2.118-3.187 3.18-5.311c1.063-2.126.531-3.986-.264-5.579c-.798-1.593-6.987-17.343-9.819-23.64"/>
                        </svg>
                    </a>
                    <a class="footer-socials__item" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
                            <defs>
                                <linearGradient id="logosTelegram0_tablet" x1="50%" x2="50%" y1="0%" y2="100%">
                                    <stop offset="0%" stop-color="#2aabee"/>
                                    <stop offset="100%" stop-color="#229ed9"/>
                                </linearGradient>
                            </defs>
                            <path fill="url(#logosTelegram0_tablet)"
                                  d="M128 0C94.06 0 61.48 13.494 37.5 37.49A128.038 128.038 0 0 0 0 128c0 33.934 13.5 66.514 37.5 90.51C61.48 242.506 94.06 256 128 256s66.52-13.494 90.5-37.49c24-23.996 37.5-56.576 37.5-90.51c0-33.934-13.5-66.514-37.5-90.51C194.52 13.494 161.94 0 128 0"/>
                            <path fill="#fff"
                                  d="M57.94 126.648c37.32-16.256 62.2-26.974 74.64-32.152c35.56-14.786 42.94-17.354 47.76-17.441c1.06-.017 3.42.245 4.96 1.49c1.28 1.05 1.64 2.47 1.82 3.467c.16.996.38 3.266.2 5.038c-1.92 20.24-10.26 69.356-14.5 92.026c-1.78 9.592-5.32 12.808-8.74 13.122c-7.44.684-13.08-4.912-20.28-9.63c-11.26-7.386-17.62-11.982-28.56-19.188c-12.64-8.328-4.44-12.906 2.76-20.386c1.88-1.958 34.64-31.748 35.26-34.45c.08-.338.16-1.598-.6-2.262c-.74-.666-1.84-.438-2.64-.258c-1.14.256-19.12 12.152-54 35.686c-5.1 3.508-9.72 5.218-13.88 5.128c-4.56-.098-13.36-2.584-19.9-4.708c-8-2.606-14.38-3.984-13.82-8.41c.28-2.304 3.46-4.662 9.52-7.072"/>
                        </svg>
                    </a>
                </div>
                <div class="footer-contacts">
                    <div class="footer-contacts-item">
                        <div class="footer-contacts-item__title">Телефоны:</div>
                        <a class="footer-contacts-item__phone" href="tel:+78001006363">8 (800) 100-63-63</a>
                        <a class="footer-contacts-item__phone" href="tel:+74956467844">8 (495) 646-78-44</a>
                        <a class="footer-contacts-item__phone" href="tel:+74956635111">8 (495) 663-51-11</a>
                    </div>
                    <div class="footer-contacts-item">
                        <div class="footer-contacts-item__title">E-mail:</div>
                        <a class="footer-contacts-item__email" href="mailto:info@westcomp.ru">info@westcomp.ru</a>
                    </div>
                    <div class="footer-contacts-item">
                        <div class="footer-contacts-item__title">Адрес:</div>
                        <div class="footer-contacts-item-address">
                            <div class="footer-contacts-item-address__text">
                                127550 г. Москва, ул. Прянишникова, дом 23а
                            </div>
                            <div class="footer-contacts-item-address__time">Пн-Пт с 09:30 до 19:00</div>
                            <div class="footer-contacts-item-address__time">Сб, Вс - выходные дни</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__column">
                <form class="footer-search" action="" method="get">
                    <input class="footer-search__control" type="text" placeholder="Поиск по сайту" required>
                    <button class="footer-search__button" type="submit">
                        <svg viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17 16.3198L11.6442 10.964M2 6.96926C2 10.0893 4.52935 12.6187 7.64943 12.6187C10.7695 12.6187 13.2989 10.0893 13.2989 6.96926C13.2989 3.84917 10.7695 1.31982 7.64943 1.31982C4.52935 1.31982 2 3.84917 2 6.96926Z"
                                  stroke="#FFFEFE" stroke-width="2.3" stroke-miterlimit="10"/>
                        </svg>
                    </button>
                </form>
                <div class="footer__row">
                    <div class="footer__column">
                        <div class="footer-links">
                            <div class="footer-links__title">Компания</div>
                            <div class="footer-links__items">
                                <a class="footer-links__item" href="#">Контакты</a>
                                <a class="footer-links__item" href="#">Реквизиты</a>
                            </div>
                        </div>
                        <div class="footer-links">
                            <div class="footer-links__title">Информация</div>
                            <div class="footer-links__items">
                                <a class="footer-links__item" href="#">Блог</a>
                                <a class="footer-links__item" href="#">Новости</a>
                                <a class="footer-links__item" href="#">Акции</a>
                                <a class="footer-links__item" href="#">Способы оплаты</a>
                            </div>
                        </div>
                    </div>
                    <div class="footer-links">
                        <div class="footer-links__title">Сервис WestComp</div>
                        <div class="footer-links__items">
                            <a class="footer-links__item" href="#">Техническая поддержка HPE</a>
                            <a class="footer-links__item" href="#">Обучение и курсы HPE</a>
                            <a class="footer-links__item" href="#">Colocation в ЦОД Москвы</a>
                            <a class="footer-links__item" href="#">Лизинг</a>
                            <a class="footer-links__item" href="#">Доставка</a>
                            <a class="footer-links__item" href="#">Гарантия на сервер</a>
                        </div>
                    </div>
                    <div class="footer__links-column">
                        <a class="footer__link" href="#">Каталог</a>
                        <a class="footer__link" href="#">Конфигураторы</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__copyright">@ WestComp, 2003 — 2023 года</div>
        <button class="footer__button-scroll-up" type="button">
            <svg viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.97461 10L10.3472 1.62756L18.7196 10" stroke="white" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round"/>
            </svg>
        </button>
    </div>
</footer>

<footer class="footer footer_mobile">
    <div class="container">
        <div class="footer__row">
            <a class="footer__logotype" href="#">
                <svg viewBox="0 0 171 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#a)" fill="#fff">
                        <path d="m15.185 26.508-.01-13.756-7.22 13.74H.582L.602.32h4.72l.03 22.497L16.725.32h5.134l-2.67 5.025v17.488L30.746.32h5.133c-4.555 8.592-9.203 17.595-13.764 26.188h-6.929ZM91.514 26.533c2.316 0 4.632-.01 6.949 0l.71-4.245c-2.168.01-4.371 0-6.514-.015-1.728-.01-3.692-.298-5.072-1.14-1.386-.841-2.189-2.232-2.598-3.972-.27-1.16-.291-2.53-.03-4.096.255-1.55.705-2.505 1.334-3.63.63-1.123 1.401-2.052 2.306-2.776a9.327 9.327 0 0 1 3.032-1.607c.67-.21 1.36-.354 2.071-.43.956-.109 1.897-.068 2.838-.068 1.427 0 3.022-.005 4.311-.01l.69-4.152h-5.778c-2.996 0-5.594.523-7.808 1.555a13.183 13.183 0 0 0-5.364 4.537c-1.37 1.992-2.295 4.055-2.776 6.94-.343 2.048-.338 3.875-.01 5.492.327 1.622.981 2.998 1.968 4.132.982 1.135 2.286 1.997 3.917 2.597 1.626.596 3.569.883 5.834.883l-.01.005ZM108.358 26.975c1.442 0 2.802-.22 4.085-.662a10.792 10.792 0 0 0 3.477-1.96c1.033-.868 1.902-1.957 2.608-3.25.711-1.294 1.207-2.803 1.498-4.517.368-2.192.332-4.07-.102-5.636-.44-1.555-1.304-2.746-2.593-3.577-1.293-.827-3.032-1.248-5.236-1.253-1.477 0-2.863.241-4.146.719a10.853 10.853 0 0 0-3.462 2.089c-1.028.913-1.887 2.027-2.577 3.341-.69 1.32-1.171 2.813-1.457 4.497-.343 2.12-.271 3.942.215 5.471.495 1.52 1.385 2.685 2.679 3.501 1.288.821 2.955 1.232 5.006 1.242l.005-.005Zm.9-3.901c-.936-.005-1.703-.17-2.291-.493a3.066 3.066 0 0 1-1.309-1.355c-.286-.575-.45-1.262-.486-2.043-.041-.785.016-1.642.174-2.566.138-.863.353-1.694.634-2.484a8.218 8.218 0 0 1 1.13-2.12 5.156 5.156 0 0 1 1.754-1.479c.695-.359 1.524-.549 2.485-.554.971.005 1.749.195 2.326.554.578.365.992.852 1.248 1.479.256.62.394 1.324.409 2.11a13.02 13.02 0 0 1-.199 2.463 14.804 14.804 0 0 1-.624 2.536 7.544 7.544 0 0 1-1.084 2.068 4.774 4.774 0 0 1-1.703 1.386c-.68.329-1.498.498-2.454.503l-.01-.005ZM119.806 26.538h4.832l2.751-16.63c.189 0 1.181-.005 2.342 0 .593 0 1.232 0 1.83.02 3.247.134 3.39 1.212 2.838 4.538l-1.994 12.072h4.796l2.091-12.652c.343-2.079.762-4.337-.317-5.913-.419-.616-1.068-1.124-2.04-1.478-.685-.252-1.519-.39-2.5-.375-3.426.046-6.376.04-9.301.046h-1.882l-3.451 20.372h.005ZM149.268 34.562h4.796l1.334-8.023c2.199-.046 4.832.159 7.149-.339 1.968-.426 3.574-1.37 5.031-2.915 2.112-2.254 2.71-4.764 3.175-7.505.363-2.232.327-4.06-.112-5.476-.435-1.422-1.233-2.475-2.388-3.147-.757-.441-1.601-.719-2.501-.873-1.14-.19-2.321-.133-3.502-.123-2.705.02-5.87-.02-8.324 0l-4.658 28.395v.006Zm6.764-11.93 2.102-12.713c.726 0 1.437-.006 2.132-.006 1.57 0 3.037.108 4.341 1.027.655.462 1.064 1.134 1.243 2.017.173.883.148 1.956-.067 3.229-.163.996-.44 1.92-.813 2.766-.603 1.36-1.692 2.993-3.226 3.409-.997.267-2.322.292-3.574.282-.711-.005-1.422.01-2.133 0l-.005-.01Z"/>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="m76.308 26.534.644-3.917c-1.365.02-3.21.041-4.591-.005-.711-.026-1.923-.251-2.184-.985-.112-.324-.112-.816 0-1.479l1.77-10.702h4.433l.613-3.721H72.56l.88-5.328H71.93L67.764 5.72H64.86l-.614 3.721h2.904L65.376 20.18c-.21 1.273-.23 2.315-.082 3.126.154.806.435 1.432.864 1.884.425.441.946.76 1.57.954.619.19 1.294.303 2.025.34.332.015.66.03.987.035 1.846.036 3.748 0 5.563.01l.005.006ZM53.417 26.564c.159 0 .317 0 .48-.01.532-.02 1.09-.072 1.678-.164.772-.113 1.539-.308 2.306-.585a9.185 9.185 0 0 0 2.168-1.13 6.703 6.703 0 0 0 1.713-1.786c1.375-2.079 1.534-4.984-.322-6.662-1.049-.95-2.393-1.546-3.707-2.049a31.358 31.358 0 0 1-1.81-.76c-.543-.25-.972-.533-1.279-.851-.307-.319-.424-.693-.363-1.145.041-.287.184-.57.414-.847.23-.277.573-.518 1.033-.693.89-.333 1.662-.43 2.475-.43 1.544 0 3.196-.011 4.75.01l.624-3.753c-1.928.005-3.436-.005-5.405-.015-1.043 0-2.05.123-3.022.37a9.613 9.613 0 0 0-2.658 1.113 6.91 6.91 0 0 0-2.015 1.874c-.537.744-.9 1.622-1.064 2.628-.163.996-.112 1.848.128 2.546.246.698.624 1.288 1.14 1.755.517.472 1.1.873 1.76 1.191.654.318 1.319.595 1.988.832.67.236 1.279.467 1.836.698.557.23.987.492 1.299.785.312.287.434.657.373 1.088-.056.37-.23.708-.521 1.016-.292.308-.747.555-1.355.74-.62.19-1.432.287-2.455.287-1.825 0-4.249.005-6.12 0l-.66 3.927c1.754 0 4.807.01 6.601.015l-.01.005Z"/>
                        <path d="m45.072 26.549.66-3.932c-2.567-.026-6.182.154-8.33-.118-.091-.01-.183-.036-.27-.051-.619-.14-1.146-.365-1.59-.678-.507-.36-.865-.873-1.07-1.55-.204-.673-.214-1.365-.04-2.454h12.931l.292-1.75c.342-2.084.373-3.875.071-5.374-.301-1.494-.981-2.638-2.035-3.44-1.053-.8-2.536-1.205-4.443-1.216-1.401 0-2.725.17-3.963.534a9.48 9.48 0 0 0-3.364 1.792c-1.008.831-1.867 1.93-2.577 3.315-.706 1.381-1.238 3.085-1.57 5.113-.322 1.945-.348 3.372-.087 4.67.26 1.3.772 2.331 1.534 3.096a6.07 6.07 0 0 0 1.881 1.262c1.396.606 2.94.709 4.53.75 2.414.061 5.124.046 7.446.02l-.006.01Zm-9.996-12.027c.261-1.093.63-2.017 1.125-2.771.496-.755 1.079-1.325 1.759-1.715a4.446 4.446 0 0 1 2.24-.585c.797 0 1.426.226 1.892.652.46.426.756 1.016.894 1.776s.118 1.642-.061 2.643h-7.849ZM139.609 9.908c.419 0 3.119 0 3.528.02 3.247.134 3.39 1.212 2.838 4.538l-1.995 12.072h4.797l2.091-12.652c.475-2.89 1.099-6.134-2.357-7.391-.685-.252-1.514-.39-2.501-.375-1.222.015-2.382.025-3.507.03l-2.899 3.758h.005ZM2.157 42.476a4.064 4.064 0 0 1-1.585-1.53 4.215 4.215 0 0 1-.578-2.181c0-.806.194-1.53.578-2.181.383-.652.91-1.16 1.585-1.53.67-.37 1.427-.555 2.265-.555.839 0 1.58.185 2.255.555.675.37 1.197.878 1.58 1.524.378.647.568 1.376.568 2.187 0 .81-.19 1.54-.568 2.187a4.04 4.04 0 0 1-1.58 1.524c-.675.37-1.427.554-2.255.554-.828 0-1.595-.184-2.265-.554Zm3.912-.924a3.06 3.06 0 0 0 1.15-1.15c.281-.487.42-1.037.42-1.637 0-.6-.139-1.15-.42-1.637a3.06 3.06 0 0 0-1.15-1.15 3.252 3.252 0 0 0-1.642-.416c-.608 0-1.16.139-1.656.416a2.981 2.981 0 0 0-1.161 1.15 3.225 3.225 0 0 0-.42 1.637c0 .6.139 1.15.42 1.637.281.488.67.873 1.16 1.15a3.337 3.337 0 0 0 1.657.416c.609 0 1.156-.139 1.642-.416ZM15.175 37.23c.46.262.818.627 1.074 1.089.256.467.383.995.383 1.59 0 .596-.138 1.156-.409 1.628a2.812 2.812 0 0 1-1.15 1.104c-.496.261-1.059.395-1.693.395-1.068 0-1.892-.37-2.474-1.104-.583-.734-.875-1.77-.875-3.105s.266-2.31.798-3.044 1.34-1.222 2.434-1.458l2.873-.641.17 1.047-2.65.57c-.823.184-1.436.492-1.84.928-.404.437-.634 1.063-.69 1.884a2.782 2.782 0 0 1 1.043-.939c.43-.22.905-.334 1.436-.334.588 0 1.11.129 1.565.395l.005-.005Zm-.695 4.574c.312-.185.557-.437.73-.755.175-.323.262-.688.262-1.103 0-.627-.19-1.135-.568-1.514-.378-.38-.88-.57-1.493-.57-.614 0-1.12.19-1.503.57-.384.38-.578.887-.578 1.514 0 .41.087.78.266 1.103.179.324.424.575.741.755.317.185.675.272 1.069.272a2.14 2.14 0 0 0 1.074-.272ZM19.266 42.59a3.041 3.041 0 0 1-1.17-1.15c-.282-.488-.42-1.042-.42-1.664 0-.62.138-1.175.42-1.663.28-.487.669-.867 1.17-1.144a3.466 3.466 0 0 1 1.687-.41c.63 0 1.187.138 1.677.41.496.272.885.657 1.161 1.144.281.488.42 1.042.42 1.663s-.139 1.176-.42 1.663a3.05 3.05 0 0 1-1.16 1.15 3.373 3.373 0 0 1-1.678.416 3.426 3.426 0 0 1-1.687-.416Zm2.771-.863c.323-.185.573-.447.752-.785.184-.34.271-.724.271-1.16 0-.437-.092-.822-.271-1.16a1.97 1.97 0 0 0-.752-.78 2.127 2.127 0 0 0-1.084-.273c-.404 0-.767.093-1.084.272a1.994 1.994 0 0 0-.761.78 2.388 2.388 0 0 0-.282 1.16c0 .437.092.827.282 1.16.183.34.44.601.761.786.323.185.68.277 1.084.277s.767-.092 1.084-.277ZM30.704 36.968c.48.272.859.647 1.135 1.135.27.482.409 1.047.409 1.678 0 .632-.138 1.196-.41 1.689a2.89 2.89 0 0 1-1.134 1.14c-.481.272-1.028.405-1.637.405a2.93 2.93 0 0 1-1.242-.262 2.604 2.604 0 0 1-.956-.765v3.265h-1.14V36.63h1.094v1c.255-.348.572-.615.961-.79.389-.18.813-.267 1.283-.267.609 0 1.156.134 1.637.406v-.01Zm-.65 4.759c.322-.185.573-.447.762-.786.184-.338.281-.723.281-1.16 0-.436-.092-.821-.28-1.16a1.958 1.958 0 0 0-.763-.78 2.127 2.127 0 0 0-1.084-.272c-.404 0-.751.092-1.073.277a2.029 2.029 0 0 0-.762.78 2.354 2.354 0 0 0-.282 1.155c0 .437.092.827.271 1.16.184.34.435.6.762.786.322.184.685.277 1.08.277.393 0 .766-.093 1.083-.277h.005ZM39.27 36.62l-3.053 6.944c-.271.642-.583 1.094-.946 1.36-.358.262-.793.396-1.299.396-.307 0-.608-.051-.895-.149a1.832 1.832 0 0 1-.716-.436l.486-.858c.322.308.7.468 1.13.468.276 0 .506-.072.696-.221.189-.149.352-.4.506-.755l.2-.441-2.777-6.303h1.186l2.194 5.05 2.173-5.05h1.114v-.005ZM46.494 41.937v2.464h-1.069v-1.463H40.17v1.463h-1.08v-2.464h.333c.404-.026.68-.308.829-.857.148-.55.255-1.324.306-2.325l.097-2.13h4.878v5.312h.962Zm-5.088-1.124c-.097.518-.281.898-.542 1.124h3.523v-4.312h-2.73l-.062 1.217c-.03.796-.097 1.453-.194 1.97h.005ZM48.809 42.59a3.043 3.043 0 0 1-1.171-1.15c-.281-.488-.42-1.042-.42-1.664 0-.62.139-1.175.42-1.663.281-.487.67-.867 1.17-1.144a3.467 3.467 0 0 1 1.688-.41c.63 0 1.187.138 1.677.41.496.272.885.657 1.161 1.144.281.488.42 1.042.42 1.663s-.139 1.176-.42 1.663a3.05 3.05 0 0 1-1.16 1.15 3.374 3.374 0 0 1-1.678.416 3.427 3.427 0 0 1-1.687-.416Zm2.771-.863c.322-.185.573-.447.752-.785.184-.34.27-.724.27-1.16 0-.437-.091-.822-.27-1.16a1.969 1.969 0 0 0-.752-.78 2.127 2.127 0 0 0-1.084-.273c-.404 0-.767.093-1.084.272a1.994 1.994 0 0 0-.762.78 2.39 2.39 0 0 0-.28 1.16c0 .437.091.827.28 1.16.184.34.44.601.762.786.322.185.68.277 1.084.277s.767-.092 1.084-.277ZM60.81 41.198c0 .554-.21.985-.624 1.288-.414.303-1.033.452-1.856.452h-3.027v-6.314h2.92c.74 0 1.324.14 1.743.421.42.283.629.683.629 1.196 0 .334-.087.621-.266.863a1.681 1.681 0 0 1-.741.554c.813.205 1.222.719 1.222 1.535v.005Zm-4.393-1.858h1.708c.435 0 .767-.077.992-.236.225-.16.338-.39.338-.693 0-.606-.445-.904-1.33-.904h-1.708v1.833Zm2.895 2.49c.235-.15.357-.386.357-.704 0-.318-.107-.57-.327-.729-.22-.159-.557-.236-1.028-.236h-1.897v1.894h1.826c.475 0 .828-.077 1.069-.226ZM66.762 37.205c.465.431.695 1.068.695 1.92v3.813H66.38v-.831c-.19.292-.46.518-.814.672-.352.154-.766.231-1.252.231-.706 0-1.268-.17-1.693-.513-.424-.344-.634-.79-.634-1.345 0-.554.2-1 .604-1.34.404-.338 1.043-.508 1.922-.508h1.805v-.226c0-.492-.143-.867-.43-1.134-.286-.267-.705-.395-1.257-.395-.373 0-.736.061-1.094.184a2.802 2.802 0 0 0-.9.493l-.476-.857a3.41 3.41 0 0 1 1.16-.6c.45-.139.931-.21 1.438-.21.869 0 1.539.215 1.999.64l.005.006Zm-1.135 4.63c.317-.195.547-.473.69-.827v-.883h-1.759c-.966 0-1.447.324-1.447.976 0 .318.123.57.368.75.246.184.588.271 1.023.271.435 0 .813-.097 1.13-.292l-.005.005ZM69.35 36.62h1.14v2.679h3.584v-2.68h1.14v6.314h-1.14V40.29H70.49v2.643h-1.14V36.62ZM77.209 36.62h1.14v4.599l3.856-4.6h1.032v6.314h-1.14v-4.599l-3.845 4.6H77.21V36.62ZM91.01 40.161h-5.103c.071.554.317 1.001.73 1.34.415.339.931.508 1.55.508.752 0 1.355-.257 1.815-.765l.63.74c-.287.333-.64.584-1.064.764a3.685 3.685 0 0 1-1.417.262c-.664 0-1.252-.139-1.769-.41a2.897 2.897 0 0 1-1.191-1.15c-.282-.493-.42-1.048-.42-1.669 0-.62.138-1.165.41-1.658.27-.492.649-.877 1.13-1.15a3.225 3.225 0 0 1 1.62-.41c.604 0 1.136.139 1.606.41.47.273.838.658 1.104 1.15.266.493.4 1.058.4 1.694 0 .087-.011.2-.021.344h-.01Zm-4.46-2.135c-.367.333-.582.77-.643 1.309h4.034c-.062-.534-.276-.965-.65-1.304-.368-.339-.823-.508-1.37-.508-.547 0-1.002.17-1.37.498v.005ZM103.28 34.597v8.341h-1.186v-3.716h-4.771v3.716h-1.186v-8.34h1.186v3.587h4.771v-3.588h1.186ZM111.318 35.372c.619.519.926 1.227.926 2.136 0 .908-.307 1.616-.926 2.13-.619.513-1.462.775-2.541.775h-2.056v2.525h-1.186v-8.34h3.242c1.074 0 1.922.256 2.541.774Zm-.854 3.521c.394-.323.593-.785.593-1.386 0-.6-.199-1.067-.593-1.385-.393-.324-.971-.483-1.723-.483h-2.02v3.742h2.02c.752 0 1.324-.16 1.723-.483v-.005ZM119.816 41.901v1.037h-6.029v-8.34h5.865v1.036h-4.679v2.561h4.168v1.011h-4.168v2.695h4.843Z"/>
                    </g>
                    <defs>
                        <clipPath id="a">
                            <path fill="#fff" transform="translate(0 .32)" d="M0 0h171v45H0z"/>
                        </clipPath>
                    </defs>
                </svg>
            </a>
            <div class="footer-socials">
                <a class="footer-socials__item" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 180">
                        <path fill="#f00"
                              d="M250.346 28.075A32.18 32.18 0 0 0 227.69 5.418C207.824 0 127.87 0 127.87 0S47.912.164 28.046 5.582A32.18 32.18 0 0 0 5.39 28.24c-6.009 35.298-8.34 89.084.165 122.97a32.18 32.18 0 0 0 22.656 22.657c19.866 5.418 99.822 5.418 99.822 5.418s79.955 0 99.82-5.418a32.18 32.18 0 0 0 22.657-22.657c6.338-35.348 8.291-89.1-.164-123.134"/>
                        <path fill="#fff" d="m102.421 128.06l66.328-38.418l-66.328-38.418z"/>
                    </svg>
                </a>
                <a class="footer-socials__item" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 258">
                        <defs>
                            <linearGradient id="logosWhatsappIcon0_mobile" x1="50%" x2="50%" y1="100%" y2="0%">
                                <stop offset="0%" stop-color="#1faf38"/>
                                <stop offset="100%" stop-color="#60d669"/>
                            </linearGradient>
                            <linearGradient id="logosWhatsappIcon1_mobile" x1="50%" x2="50%" y1="100%" y2="0%">
                                <stop offset="0%" stop-color="#f9f9f9"/>
                                <stop offset="100%" stop-color="#fff"/>
                            </linearGradient>
                        </defs>
                        <path fill="url(#logosWhatsappIcon0_mobile)"
                              d="M5.463 127.456c-.006 21.677 5.658 42.843 16.428 61.499L4.433 252.697l65.232-17.104a122.994 122.994 0 0 0 58.8 14.97h.054c67.815 0 123.018-55.183 123.047-123.01c.013-32.867-12.775-63.773-36.009-87.025c-23.23-23.25-54.125-36.061-87.043-36.076c-67.823 0-123.022 55.18-123.05 123.004"/>
                        <path fill="url(#logosWhatsappIcon1_mobile)"
                              d="M1.07 127.416c-.007 22.457 5.86 44.38 17.014 63.704L0 257.147l67.571-17.717c18.618 10.151 39.58 15.503 60.91 15.511h.055c70.248 0 127.434-57.168 127.464-127.423c.012-34.048-13.236-66.065-37.3-90.15C194.633 13.286 162.633.014 128.536 0C58.276 0 1.099 57.16 1.071 127.416m40.24 60.376l-2.523-4.005c-10.606-16.864-16.204-36.352-16.196-56.363C22.614 69.029 70.138 21.52 128.576 21.52c28.3.012 54.896 11.044 74.9 31.06c20.003 20.018 31.01 46.628 31.003 74.93c-.026 58.395-47.551 105.91-105.943 105.91h-.042c-19.013-.01-37.66-5.116-53.922-14.765l-3.87-2.295l-40.098 10.513z"/>
                        <path fill="#fff"
                              d="M96.678 74.148c-2.386-5.303-4.897-5.41-7.166-5.503c-1.858-.08-3.982-.074-6.104-.074c-2.124 0-5.575.799-8.492 3.984c-2.92 3.188-11.148 10.892-11.148 26.561c0 15.67 11.413 30.813 13.004 32.94c1.593 2.123 22.033 35.307 54.405 48.073c26.904 10.609 32.379 8.499 38.218 7.967c5.84-.53 18.844-7.702 21.497-15.139c2.655-7.436 2.655-13.81 1.859-15.142c-.796-1.327-2.92-2.124-6.105-3.716c-3.186-1.593-18.844-9.298-21.763-10.361c-2.92-1.062-5.043-1.592-7.167 1.597c-2.124 3.184-8.223 10.356-10.082 12.48c-1.857 2.129-3.716 2.394-6.9.801c-3.187-1.598-13.444-4.957-25.613-15.806c-9.468-8.442-15.86-18.867-17.718-22.056c-1.858-3.184-.199-4.91 1.398-6.497c1.431-1.427 3.186-3.719 4.78-5.578c1.588-1.86 2.118-3.187 3.18-5.311c1.063-2.126.531-3.986-.264-5.579c-.798-1.593-6.987-17.343-9.819-23.64"/>
                    </svg>
                </a>
                <a class="footer-socials__item" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
                        <defs>
                            <linearGradient id="logosTelegram0_mobile" x1="50%" x2="50%" y1="0%" y2="100%">
                                <stop offset="0%" stop-color="#2aabee"/>
                                <stop offset="100%" stop-color="#229ed9"/>
                            </linearGradient>
                        </defs>
                        <path fill="url(#logosTelegram0_mobile)"
                              d="M128 0C94.06 0 61.48 13.494 37.5 37.49A128.038 128.038 0 0 0 0 128c0 33.934 13.5 66.514 37.5 90.51C61.48 242.506 94.06 256 128 256s66.52-13.494 90.5-37.49c24-23.996 37.5-56.576 37.5-90.51c0-33.934-13.5-66.514-37.5-90.51C194.52 13.494 161.94 0 128 0"/>
                        <path fill="#fff"
                              d="M57.94 126.648c37.32-16.256 62.2-26.974 74.64-32.152c35.56-14.786 42.94-17.354 47.76-17.441c1.06-.017 3.42.245 4.96 1.49c1.28 1.05 1.64 2.47 1.82 3.467c.16.996.38 3.266.2 5.038c-1.92 20.24-10.26 69.356-14.5 92.026c-1.78 9.592-5.32 12.808-8.74 13.122c-7.44.684-13.08-4.912-20.28-9.63c-11.26-7.386-17.62-11.982-28.56-19.188c-12.64-8.328-4.44-12.906 2.76-20.386c1.88-1.958 34.64-31.748 35.26-34.45c.08-.338.16-1.598-.6-2.262c-.74-.666-1.84-.438-2.64-.258c-1.14.256-19.12 12.152-54 35.686c-5.1 3.508-9.72 5.218-13.88 5.128c-4.56-.098-13.36-2.584-19.9-4.708c-8-2.606-14.38-3.984-13.82-8.41c.28-2.304 3.46-4.662 9.52-7.072"/>
                    </svg>
                </a>
            </div>
        </div>
        <form class="footer-search" action="" method="get">
            <input class="footer-search__control" type="text" placeholder="Поиск по сайту" required>
            <button class="footer-search__button" type="submit">
                <svg viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17 16.3198L11.6442 10.964M2 6.96926C2 10.0893 4.52935 12.6187 7.64943 12.6187C10.7695 12.6187 13.2989 10.0893 13.2989 6.96926C13.2989 3.84917 10.7695 1.31982 7.64943 1.31982C4.52935 1.31982 2 3.84917 2 6.96926Z"
                          stroke="#FFFEFE" stroke-width="2.3" stroke-miterlimit="10"/>
                </svg>
            </button>
        </form>
        <div class="footer__row">
            <div class="footer__column">
                <div class="footer-links">
                    <div class="footer-links__title">Компания</div>
                    <div class="footer-links__items">
                        <a class="footer-links__item" href="#">Контакты</a>
                        <a class="footer-links__item" href="#">Реквизиты</a>
                    </div>
                </div>
                <div class="footer-links">
                    <div class="footer-links__title">Информация</div>
                    <div class="footer-links__items">
                        <a class="footer-links__item" href="#">Блог</a>
                        <a class="footer-links__item" href="#">Новости</a>
                        <a class="footer-links__item" href="#">Акции</a>
                        <a class="footer-links__item" href="#">Способы оплаты</a>
                    </div>
                </div>
            </div>
            <div class="footer__column">
                <a class="footer__link" href="#">Каталог</a>
                <a class="footer__link" href="#">Конфигураторы</a>
                <div class="footer-links">
                    <div class="footer-links__title">Сервис WestComp</div>
                    <div class="footer-links__items">
                        <a class="footer-links__item" href="#">Техническая поддержка HPE</a>
                        <a class="footer-links__item" href="#">Обучение и курсы HPE</a>
                        <a class="footer-links__item" href="#">Colocation в ЦОД Москвы</a>
                        <a class="footer-links__item" href="#">Лизинг</a>
                        <a class="footer-links__item" href="#">Доставка</a>
                        <a class="footer-links__item" href="#">Гарантия на сервер</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__separator"></div>
        <div class="footer-contacts">
            <div class="footer-contacts-item">
                <div class="footer-contacts-item__title">Телефоны:</div>
                <a class="footer-contacts-item__phone" href="tel:+78001006363">8 (800) 100-63-63</a>
                <a class="footer-contacts-item__phone" href="tel:+74956467844">8 (495) 646-78-44</a>
                <a class="footer-contacts-item__phone" href="tel:+74956635111">8 (495) 663-51-11</a>
            </div>
            <div class="footer-contacts-item">
                <div class="footer-contacts-item__title">E-mail:</div>
                <a class="footer-contacts-item__email" href="mailto:info@westcomp.ru">info@westcomp.ru</a>
            </div>
            <div class="footer-contacts-item">
                <div class="footer-contacts-item__title">Адрес:</div>
                <div class="footer-contacts-item-address">
                    <div class="footer-contacts-item-address__text">
                        127550 г. Москва, ул. Прянишникова, дом 23а
                    </div>
                    <div class="footer-contacts-item-address__time">Пн-Пт с 09:30 до 19:00</div>
                    <div class="footer-contacts-item-address__time">Сб, Вс - выходные дни</div>
                </div>
            </div>
        </div>
        <div class="footer__copyright">@ WestComp, 2003 — 2024 года</div>
        <button class="footer__button-scroll-up" type="button">
            <svg viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.97461 10L10.3472 1.62756L18.7196 10" stroke="white" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round"/>
            </svg>
        </button>
    </div>
</footer>

<div class="footer-menu">
    <button class="footer-menu-item footer-menu-item_hamburger-menu" type="button" data-hamburger-menu>
        <div class="footer-menu-item__icon">
            <svg viewBox="0 0 28 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_3361_8123)">
                    <path d="M2.37899 8.50879L0 11.4913H24.6522L27.0351 8.50879H2.37899Z" fill="currentColor"/>
                    <path d="M2.37899 0L0 2.98256H24.6522L27.0351 0H2.37899Z" fill="currentColor"/>
                    <path d="M2.37899 17.0173L0 19.9999H11.3306L13.7096 17.0173H2.37899Z" fill="currentColor"/>
                </g>
                <defs>
                    <clipPath id="clip0_3361_8123">
                        <rect width="27.0351" height="20" fill="transparent"/>
                    </clipPath>
                </defs>
            </svg>
        </div>
        <div class="footer-menu-item__text">Информация</div>
    </button>
    <a class="footer-menu-item" href="#">
        <div class="footer-menu-item__icon">
            <svg viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 7.49999C8.38095 7.49999 7.06841 8.84312 7.06841 10.5C7.06841 12.1568 8.38095 13.5 10 13.5C11.619 13.5 12.9316 12.1568 12.9316 10.5C12.9316 8.84312 11.619 7.49999 10 7.49999ZM18.2284 8.35918L17.4346 9.02785C16.5292 9.7906 16.5292 11.2094 17.4346 11.9721L18.2284 12.6408C18.5096 12.8778 18.5823 13.2881 18.4001 13.611L16.8328 16.389C16.6506 16.7119 16.2671 16.8527 15.9259 16.7219L14.9631 16.3528C13.8649 15.9318 12.6643 16.6411 12.4715 17.8249L12.3025 18.8627C12.2426 19.2304 11.9316 19.5 11.5673 19.5H8.43268C8.06837 19.5 7.75742 19.2304 7.69753 18.8627L7.5285 17.8249C7.33572 16.6411 6.13506 15.9318 5.03687 16.3528L4.07415 16.7219C3.73294 16.8527 3.34937 16.7119 3.16717 16.389L1.59989 13.611C1.41773 13.2881 1.49036 12.8778 1.77165 12.6408L2.56541 11.9721C3.47078 11.2094 3.47078 9.7906 2.56541 9.02785L1.77165 8.35918C1.49036 8.12221 1.41773 7.71187 1.59989 7.38897L3.16717 4.61099C3.34937 4.28809 3.73294 4.1473 4.07415 4.2781L5.03687 4.64718C6.13506 5.06819 7.33572 4.35884 7.5285 3.17507L7.69753 2.13728C7.75742 1.76954 8.06837 1.5 8.43268 1.5H11.5673C11.9316 1.5 12.2426 1.76954 12.3025 2.13728L12.4715 3.17507C12.6643 4.35884 13.8649 5.06819 14.9631 4.64718L15.9259 4.2781C16.2671 4.1473 16.6506 4.28809 16.8328 4.61099L18.4001 7.38897C18.5823 7.71187 18.5096 8.12221 18.2284 8.35918Z"
                      stroke="currentColor" stroke-width="1.8" stroke-miterlimit="10" stroke-linecap="round"
                      stroke-linejoin="round"/>
            </svg>
        </div>
        <div class="footer-menu-item__text">Конфигураторы</div>
    </a>
    <a class="footer-menu-item" href="#" data-number="2">
        <div class="footer-menu-item__icon">
            <svg viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.75 7.5V4.46818C4.75 2.8289 6.17709 1.5 7.9375 1.5C9.69791 1.5 11.125 2.8289 11.125 4.46818V7.5"
                      stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                      stroke-linejoin="round"/>
                <path d="M1 6H14V13.5C14 14.8807 12.8807 16 11.5 16H3.5C2.11929 16 1 14.8807 1 13.5V6Z"
                      fill="currentColor" stroke="currentColor"/>
            </svg>
        </div>
        <div class="footer-menu-item__text">Корзина</div>
    </a>
    <a class="footer-menu-item footer-menu-item_favorites" href="#">
        <div class="footer-menu-item__icon">
            <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.6915 1.91007C13.864 1.01262 12.7043 0.501987 11.4893 0.500094C10.2734 0.501514 9.11252 1.01188 8.28366 1.90949L8.00117 2.21065L7.71869 1.90949C6.07401 0.123625 3.30575 0.0210654 1.53562 1.68037C1.45719 1.75393 1.38143 1.83033 1.30852 1.90949C-0.436174 3.8081 -0.436174 6.7423 1.30852 8.64091L7.58604 15.3198C7.80322 15.5511 8.16515 15.561 8.39443 15.3419C8.40193 15.3348 8.40924 15.3274 8.41634 15.3198L14.6916 8.64091C16.4361 6.74251 16.4361 3.80847 14.6915 1.91007Z"
                      fill="currentColor"/>
            </svg>
        </div>
        <div class="footer-menu-item__text">Избранное</div>
    </a>
    <a class="footer-menu-item footer-menu-item_profile" href="#">
        <div class="footer-menu-item__icon">
            <svg viewBox="0 0 15 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.8035 16.5H2.19647C1.25953 16.5 0.5 15.7497 0.5 14.8241C0.5 12.0536 2.77347 9.8076 5.57794 9.8076H9.42206C12.2265 9.8076 14.5 12.0535 14.5 14.8241C14.5 15.7497 13.7405 16.5 12.8035 16.5Z"
                      fill="currentColor"/>
                <path d="M7.5 8.15474C9.6397 8.15474 11.3743 6.44117 11.3743 4.32737C11.3743 2.21357 9.6397 0.5 7.5 0.5C5.3603 0.5 3.62573 2.21357 3.62573 4.32737C3.62573 6.44117 5.3603 8.15474 7.5 8.15474Z"
                      fill="currentColor"/>
            </svg>
        </div>
        <div class="footer-menu-item__text">Войти</div>
    </a>
</div>

<div id="hamburger-menu" class="hamburger-menu hamburger-menu_expanded">
    <div class="hamburger-menu-accordion">
        <button class="hamburger-menu-accordion-button" type="button">
            <div class="hamburger-menu-accordion-button__text">Конфигураторы</div>
            <div class="hamburger-menu-accordion-button__icon">
                <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 7.55184L12 5.21732L5.99882 0.44873L-2.08442e-07 5.21732L-3.10487e-07 7.55184L5.99882 2.78088L12 7.55184Z"
                          fill="currentColor"/>
                </svg>
            </div>
        </button>
        <div class="hamburger-menu-accordion-list">
            <a class="hamburger-menu-accordion-list__item" href="#">HPE Proliant</a>
            <a class="hamburger-menu-accordion-list__item" href="#">Ноутбуки HP</a>
        </div>
    </div>
    <div class="hamburger-menu-accordion">
        <button class="hamburger-menu-accordion-button" type="button">
            <div class="hamburger-menu-accordion-button__text">Конфигураторы</div>
            <div class="hamburger-menu-accordion-button__icon">
                <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 7.55184L12 5.21732L5.99882 0.44873L-2.08442e-07 5.21732L-3.10487e-07 7.55184L5.99882 2.78088L12 7.55184Z"
                          fill="currentColor"/>
                </svg>
            </div>
        </button>
        <div class="hamburger-menu-accordion-list">
            <a class="hamburger-menu-accordion-list__item" href="#">HPE Proliant</a>
            <a class="hamburger-menu-accordion-list__item" href="#">Ноутбуки HP</a>
        </div>
    </div>
    <div class="hamburger-menu-accordion">
        <button class="hamburger-menu-accordion-button" type="button">
            <div class="hamburger-menu-accordion-button__text">Конфигураторы</div>
            <div class="hamburger-menu-accordion-button__icon">
                <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 7.55184L12 5.21732L5.99882 0.44873L-2.08442e-07 5.21732L-3.10487e-07 7.55184L5.99882 2.78088L12 7.55184Z"
                          fill="currentColor"/>
                </svg>
            </div>
        </button>
        <div class="hamburger-menu-accordion-list">
            <a class="hamburger-menu-accordion-list__item" href="#">HPE Proliant</a>
            <a class="hamburger-menu-accordion-list__item" href="#">Ноутбуки HP</a>
        </div>
    </div>
    <div class="hamburger-menu-accordion">
        <button class="hamburger-menu-accordion-button" type="button">
            <div class="hamburger-menu-accordion-button__text">Конфигураторы</div>
            <div class="hamburger-menu-accordion-button__icon">
                <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 7.55184L12 5.21732L5.99882 0.44873L-2.08442e-07 5.21732L-3.10487e-07 7.55184L5.99882 2.78088L12 7.55184Z"
                          fill="currentColor"/>
                </svg>
            </div>
        </button>
        <div class="hamburger-menu-accordion-list">
            <a class="hamburger-menu-accordion-list__item" href="#">HPE Proliant</a>
            <a class="hamburger-menu-accordion-list__item" href="#">Ноутбуки HP</a>
        </div>
    </div>
    <div class="hamburger-menu-accordion">
        <button class="hamburger-menu-accordion-button" type="button">
            <div class="hamburger-menu-accordion-button__text">Конфигураторы</div>
            <div class="hamburger-menu-accordion-button__icon">
                <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 7.55184L12 5.21732L5.99882 0.44873L-2.08442e-07 5.21732L-3.10487e-07 7.55184L5.99882 2.78088L12 7.55184Z"
                          fill="currentColor"/>
                </svg>
            </div>
        </button>
        <div class="hamburger-menu-accordion-list">
            <a class="hamburger-menu-accordion-list__item" href="#">HPE Proliant</a>
            <a class="hamburger-menu-accordion-list__item" href="#">Ноутбуки HP</a>
        </div>
    </div>
    <div class="hamburger-menu-accordion">
        <button class="hamburger-menu-accordion-button" type="button">
            <div class="hamburger-menu-accordion-button__text">Конфигураторы</div>
            <div class="hamburger-menu-accordion-button__icon">
                <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 7.55184L12 5.21732L5.99882 0.44873L-2.08442e-07 5.21732L-3.10487e-07 7.55184L5.99882 2.78088L12 7.55184Z"
                          fill="currentColor"/>
                </svg>
            </div>
        </button>
        <div class="hamburger-menu-accordion-list">
            <a class="hamburger-menu-accordion-list__item" href="#">HPE Proliant</a>
            <a class="hamburger-menu-accordion-list__item" href="#">Ноутбуки HP</a>
        </div>
    </div>
    <div class="hamburger-menu-accordion">
        <button class="hamburger-menu-accordion-button" type="button">
            <div class="hamburger-menu-accordion-button__text">Конфигураторы</div>
            <div class="hamburger-menu-accordion-button__icon">
                <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 7.55184L12 5.21732L5.99882 0.44873L-2.08442e-07 5.21732L-3.10487e-07 7.55184L5.99882 2.78088L12 7.55184Z"
                          fill="currentColor"/>
                </svg>
            </div>
        </button>
        <div class="hamburger-menu-accordion-list">
            <a class="hamburger-menu-accordion-list__item" href="#">HPE Proliant</a>
            <a class="hamburger-menu-accordion-list__item" href="#">Ноутбуки HP</a>
        </div>
    </div>
    <div class="hamburger-menu-accordion">
        <button class="hamburger-menu-accordion-button" type="button">
            <div class="hamburger-menu-accordion-button__text">Конфигураторы</div>
            <div class="hamburger-menu-accordion-button__icon">
                <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 7.55184L12 5.21732L5.99882 0.44873L-2.08442e-07 5.21732L-3.10487e-07 7.55184L5.99882 2.78088L12 7.55184Z"
                          fill="currentColor"/>
                </svg>
            </div>
        </button>
        <div class="hamburger-menu-accordion-list">
            <a class="hamburger-menu-accordion-list__item" href="#">HPE Proliant</a>
            <a class="hamburger-menu-accordion-list__item" href="#">Ноутбуки HP</a>
        </div>
    </div>
    <div class="hamburger-menu-accordion">
        <button class="hamburger-menu-accordion-button" type="button">
            <div class="hamburger-menu-accordion-button__text">Конфигураторы</div>
            <div class="hamburger-menu-accordion-button__icon">
                <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 7.55184L12 5.21732L5.99882 0.44873L-2.08442e-07 5.21732L-3.10487e-07 7.55184L5.99882 2.78088L12 7.55184Z"
                          fill="currentColor"/>
                </svg>
            </div>
        </button>
        <div class="hamburger-menu-accordion-list">
            <a class="hamburger-menu-accordion-list__item" href="#">HPE Proliant</a>
            <a class="hamburger-menu-accordion-list__item" href="#">Ноутбуки HP</a>
        </div>
    </div>
</div>

<div id="catalog-menu" class="catalog-menu"
     data-menus="[{&quot;menuId&quot;:1,&quot;type&quot;:&quot;gridItem&quot;,&quot;name&quot;:&quot;Серверы HPE ProLiant DL&quot;,&quot;image&quot;:&quot;https://i.imgur.com/jA1O8Lt.png&quot;,&quot;color&quot;:&quot;#FFECEB&quot;,&quot;textPosition&quot;:&quot;top-right&quot;},{&quot;parentMenuId&quot;:1,&quot;type&quot;:&quot;menuItem&quot;,&quot;name&quot;:&quot;Конфигураторы&quot;,&quot;url&quot;:&quot;#&quot;},{&quot;menuId&quot;:2,&quot;parentMenuId&quot;:1,&quot;type&quot;:&quot;menuItem&quot;,&quot;name&quot;:&quot;Блейд-серверы&quot;},{&quot;menuId&quot;:2,&quot;parentMenuId&quot;:2,&quot;name&quot;:&quot;HPE BL460c Gen8&quot;,&quot;type&quot;:&quot;menuItem&quot;,&quot;url&quot;:&quot;#&quot;},{&quot;menuId&quot;:3,&quot;parentMenuId&quot;:2,&quot;type&quot;:&quot;menuItem&quot;,&quot;name&quot;:&quot;Комплектующие&quot;},{&quot;menuId&quot;:3,&quot;parentMenuId&quot;:3,&quot;name&quot;:&quot;IO Accselerators (SSD)&quot;,&quot;type&quot;:&quot;menuItem&quot;,&quot;url&quot;:&quot;#&quot;}]">
    {{!-- <div class="catalog-menu-grid" style="display: none;">
    <div class="catalog-menu-grid__inner container">
      <button class="catalog-menu-grid-item" type="button" style="background-image: url(https://i.imgur.com/jA1O8Lt.png);">
        <div class="catalog-menu-grid-item__text catalog-menu-grid-item__text_top-right">Серверы HPE ProLiant DL</div>
      </button>
      <button class="catalog-menu-grid-item" type="button" style="background-image: url(https://i.imgur.com/izcMMPC.png);">
        <div class="catalog-menu-grid-item__text catalog-menu-grid-item__text_bottom-left">HPE BladeSystem</div>
      </button>
      <button class="catalog-menu-grid-item" type="button" style="background-image: url(https://i.imgur.com/1EJkmRm.png);">
        <div class="catalog-menu-grid-item__text catalog-menu-grid-item__text_top-right">HPE Synergy</div>
      </button>
      <button class="catalog-menu-grid-item" type="button" style="background-image: url(https://i.imgur.com/jUXp5WP.png);">
        <div class="catalog-menu-grid-item__text catalog-menu-grid-item__text_top-left">HPE 3PAR StoreServ</div>
      </button>
      <button class="catalog-menu-grid-item" type="button" style="background-image: url(https://i.imgur.com/VwX8t8r.png);">
        <div class="catalog-menu-grid-item__text catalog-menu-grid-item__text_top-left">HPE Moonshot</div>
      </button>
      <button class="catalog-menu-grid-item" type="button" style="background-image: url(https://i.imgur.com/odqDJU6.png);">
        <div class="catalog-menu-grid-item__text catalog-menu-grid-item__text_bottom-right">HPE Apollo</div>
      </button>
      <button class="catalog-menu-grid-item" type="button" style="background-image: url(https://i.imgur.com/dUZ12DN.png);">
        <div class="catalog-menu-grid-item__text catalog-menu-grid-item__text_top-right">HPE Networking</div>
      </button>
      <button class="catalog-menu-grid-item" type="button" style="background-image: url(https://i.imgur.com/xevGuZL.png);">
        <div class="catalog-menu-grid-item__text catalog-menu-grid-item__text_top-right">HPE SAN Switch</div>
      </button>
      <button class="catalog-menu-grid-item" type="button" style="background-image: url(https://i.imgur.com/O7I3zIn.png);">
        <div class="catalog-menu-grid-item__text catalog-menu-grid-item__text_bottom-left">Ноутбуки HP</div>
      </button>
      <button class="catalog-menu-grid-item" type="button" style="background-image: url(https://i.imgur.com/kYTIf1f.png);">
        <div class="catalog-menu-grid-item__text catalog-menu-grid-item__text_bottom-left">Серверные комплектующие</div>
      </button>
      <button class="catalog-menu-grid-item" type="button" style="background-image: url(https://i.imgur.com/oenVRR4.png);">
        <div class="catalog-menu-grid-item__text catalog-menu-grid-item__text_bottom-right">Системы хранения</div>
      </button>
      <button class="catalog-menu-grid-item" type="button" style="background-image: url(https://i.imgur.com/ITAPhEE.png);">
        <div class="catalog-menu-grid-item__text catalog-menu-grid-item__text_bottom-left">Маршрутизаторы</div>
      </button>
      <button class="catalog-menu-grid-item" type="button" style="background-image: url(https://i.imgur.com/NCdkrYE.png);">
        <div class="catalog-menu-grid-item__text catalog-menu-grid-item__text_top-right">Коммутаторы</div>
      </button>
      <button class="catalog-menu-grid-item" type="button" style="background-image: url(https://i.imgur.com/1MmwygX.png);">
        <div class="catalog-menu-grid-item__text catalog-menu-grid-item__text_top-right">Блейд-системы IBM</div>
      </button>
      <button class="catalog-menu-grid-item" type="button" style="background-image: url(https://i.imgur.com/yFNO5RW.png);">
        <div class="catalog-menu-grid-item__text catalog-menu-grid-item__text_top-right">Распределители питания</div>
      </button>
      <button class="catalog-menu-grid-item" type="button" style="background-image: url(https://i.imgur.com/6FtEcKB.png);">
        <div class="catalog-menu-grid-item__text catalog-menu-grid-item__text_top-left">Трансиверы</div>
      </button>
      <button class="catalog-menu-grid-item" type="button" style="background-image: url(https://i.imgur.com/mPpN9NW.png);">
        <div class="catalog-menu-grid-item__text catalog-menu-grid-item__text_top-left">Готовые решения</div>
      </button>
      <button class="catalog-menu-grid-item" type="button" style="background-image: url(https://i.imgur.com/6rbMyy5.png);">
        <div class="catalog-menu-grid-item__text catalog-menu-grid-item__text_top-right">Опции для серверных шкафов</div>
      </button>
    </div>
  </div>
  <div class="catalog-menu-items" style="display: none;">
    <button class="catalog-menu-items-item catalog-menu-items-item_previous-tab" type="button">
      <svg class="catalog-menu-items-item__icon" width="9" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8.01718 0L5.68265 0L0.914062 6.00118L5.68265 12H8.01718L3.24622 6.00118L8.01718 0Z" fill="currentColor" />
      </svg>
      <div class="catalog-menu-items-item__text">HPE BladeSystem</div>
    </button>
    <button class="catalog-menu-items-item catalog-menu-items-item_previous-tab" type="button">
      <svg class="catalog-menu-items-item__icon" width="9" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8.01718 0L5.68265 0L0.914062 6.00118L5.68265 12H8.01718L3.24622 6.00118L8.01718 0Z" fill="currentColor" />
      </svg>
      <div class="catalog-menu-items-item__text">Блейд-серверы</div>
    </button>
    <a class="catalog-menu-items-item catalog-menu-items-item_link" href="#">HPE BL460c Gen8</a>
    <a class="catalog-menu-items-item catalog-menu-items-item_link" href="#">HPE BL460c Gen8</a>
    <a class="catalog-menu-items-item catalog-menu-items-item_link" href="#">HPE BL460c Gen8</a>
    <a class="catalog-menu-items-item catalog-menu-items-item_link" href="#">HPE BL460c Gen8</a>
    <a class="catalog-menu-items-item catalog-menu-items-item_link" href="#">HPE BL460c Gen8</a>
    <a class="catalog-menu-items-item catalog-menu-items-item_link" href="#">HPE BL460c Gen8</a>
    <button class="catalog-menu-items-item catalog-menu-items-item_tab" type="button">
      <div class="catalog-menu-items-item__text">Комплектующие</div>
      <svg class="catalog-menu-items-item__icon" width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.000402451 12L2.33493 12L7.10352 5.99882L2.33492 4.13626e-07L0.000401393 6.16123e-07L4.77136 5.99882L0.000402451 12Z" fill="currentColor" />
      </svg>
    </button>
  </div> --}}
</div>
