<section class="about">
  <div class="container">
    <div class="about-video">
      <div class="about-video__icon">
        {{> ui/svg id="play" }}
      </div>
      <video class="about-video__control" src="../video-1.mp4" poster="../../img/video-placeholder.jpg"></video>
    </div>
    <div class="about-body">
      <h2 class="about-body__title">Cерверное оборудование HPE в WestComp</h2>
      <p class="about-body__description">
        Компания WestComp 20 лет занимается поставками и продажами б/у серверного оборудования HPE. Предлагаем купить бу серверное оборудование HPE по низкой цене с гарантией в отличном состоянии. В наличии серверные комплектующие, серверы HPE, вычислительные модули, системы хранения данных HPE и сетевое оборудование различного назначения. Каталог сайта содержит готовые серверные решения на базе HPE BladeSystem, HPE Synergy и HPE 3PAR.
        <br>
        <br>
        Перед продажей все оборудование проходит тщательную проверку и подготовку. Именно поэтому, на серверное оборудование действует гарантия до 5 лет и сопровождается технической поддержкой инженерами HPE.
        <br>
        <br>
        В WestComp помогут с выбором серверного оборудования, подготовят КП в течении 30 минут, оформят необходимые документы, упакуют товар, организуют доставку по Москве и России. После продажи серверного оборудования, по запросу заказчика, сертифицированные инженеры HPE готовы провести пуско-наладочные работы, проконсультировать и провести индивидуальное обучение.
      </p>
    </div>
    {{!-- <div class="about__inner">
      <div class="about__row">
        <div class="about__row-left">
          <div class="video">
            <div class="video__placeholder">
              <div class="video__placeholder-play">
                {{> ui/svg id="play" }}
              </div>
              <img class="video__placeholder-img" src="../../img/video-placeholder.jpg" alt="placeholder" />
            </div>
            <video class="video__video-player" src="../video-1.mp4" controls></video>
          </div>
        </div>
        <div class="about__row-right">
          <div class="about__title"> Cерверное оборудование HPE в WestComp </div>
          <div class="about__descr">
            <p>
              Компания WestComp 20 лет занимается поставками и продажами б/у серверного оборудования
              HPE. Предлагаем купить бу серверное оборудование HPE по низкой цене с гарантией в
              отличном состоянии. В наличии серверные комплектующие, серверы HPE, вычислительные
              модули, системы хранения данных HPE и сетевое оборудование различного назначения.
              Каталог сайта содержит готовые серверные решения на базе HPE BladeSystem, HPE Synergy
              и HPE 3PAR.
            </p>
            <p>
              Перед продажей все оборудование проходит тщательную проверку и подготовку. Именно
              поэтому, на серверное оборудование действует гарантия до 5 лет и сопровождается
              технической поддержкой инженерами HPE.
            </p>
            <p>
              В WestComp помогут с выбором серверного оборудования, подготовят КП в течении 30
              минут, оформят необходимые документы, упакуют товар, организуют доставку по Москве и
              России. После продажи серверного оборудования, по запросу заказчика, сертифицированные
              инженеры HPE готовы провести пуско-наладочные работы, проконсультировать и провести
              индивидуальное обучение.
            </p>
          </div>
        </div>
      </div>
    </div> --}}
  </div>
</section>
