<div class="accordion-menus">
  <div class="accordion-menu accordion-menu_collapsed">
    <div class="accordion-menu-header">
      <div class="accordion-menu-header__title">HRE Blade System</div>
      <div class="accordion-menu-header__icon">
        <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L5.5 5.5L10 1" stroke="currentColor" stroke-width="1.4" />
        </svg>
      </div>
    </div>
    <div class="accordion-menu-body">
      <div class="accordion-menu-body__wrapper">
        <div class="accordion-menu accordion-menu_submenu accordion-menu_collapsed">
          <a class="accordion-menu-header" href="#">
            <div class="accordion-menu-header__title">Proliant Systems</div>
            <div class="accordion-menu-header__icon">
              <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L5.5 5.5L10 1" stroke="currentColor" stroke-width="1.4" />
              </svg>
            </div>
          </a>
          <div class="accordion-menu-body">
            <div class="accordion-menu-body__wrapper">
              <div class="accordion-menus__items">
                <a class="accordion-menus__item" href="#">DL360 Gen8</a>
                <a class="accordion-menus__item" href="#">DL360 Gen8</a>
                <a class="accordion-menus__item" href="#">DL360 Gen8</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-menus__separator"></div>
  <div class="accordion-menu accordion-menu_collapsed">
    <div class="accordion-menu-header">
      <div class="accordion-menu-header__title">HRE Blade System</div>
      <div class="accordion-menu-header__icon">
        <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L5.5 5.5L10 1" stroke="currentColor" stroke-width="1.4" />
        </svg>
      </div>
    </div>
    <div class="accordion-menu-body">
      <div class="accordion-menu-body__wrapper">
        <div class="accordion-menu accordion-menu_submenu accordion-menu_collapsed">
          <div class="accordion-menu-header">
            <div class="accordion-menu-header__title">Proliant Systems</div>
            <div class="accordion-menu-header__icon">
              <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L5.5 5.5L10 1" stroke="currentColor" stroke-width="1.4" />
              </svg>
            </div>
          </div>
          <div class="accordion-menu-body">
            <div class="accordion-menu-body__wrapper">
              <div class="accordion-menus__items">
                <a class="accordion-menus__item" href="#">DL360 Gen8</a>
                <a class="accordion-menus__item" href="#">DL360 Gen8</a>
                <a class="accordion-menus__item" href="#">DL360 Gen8</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-menus__separator"></div>
  <div class="accordion-menu accordion-menu_collapsed">
    <div class="accordion-menu-header">
      <div class="accordion-menu-header__title">HRE Blade System</div>
      <div class="accordion-menu-header__icon">
        <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L5.5 5.5L10 1" stroke="currentColor" stroke-width="1.4" />
        </svg>
      </div>
    </div>
    <div class="accordion-menu-body">
      <div class="accordion-menu-body__wrapper">
        <div class="accordion-menu accordion-menu_submenu accordion-menu_collapsed">
          <div class="accordion-menu-header">
            <div class="accordion-menu-header__title">Proliant Systems</div>
            <div class="accordion-menu-header__icon">
              <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L5.5 5.5L10 1" stroke="currentColor" stroke-width="1.4" />
              </svg>
            </div>
          </div>
          <div class="accordion-menu-body">
            <div class="accordion-menu-body__wrapper">
              <div class="accordion-menus__items">
                <a class="accordion-menus__item" href="#">DL360 Gen8</a>
                <a class="accordion-menus__item" href="#">DL360 Gen8</a>
                <a class="accordion-menus__item" href="#">DL360 Gen8</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-menus__separator"></div>
  <div class="accordion-menu accordion-menu_collapsed">
    <div class="accordion-menu-header">
      <div class="accordion-menu-header__title">HRE Blade System</div>
      <div class="accordion-menu-header__icon">
        <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L5.5 5.5L10 1" stroke="currentColor" stroke-width="1.4" />
        </svg>
      </div>
    </div>
    <div class="accordion-menu-body">
      <div class="accordion-menu-body__wrapper">
        <div class="accordion-menu accordion-menu_submenu accordion-menu_collapsed">
          <div class="accordion-menu-header">
            <div class="accordion-menu-header__title">Proliant Systems</div>
            <div class="accordion-menu-header__icon">
              <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L5.5 5.5L10 1" stroke="currentColor" stroke-width="1.4" />
              </svg>
            </div>
          </div>
          <div class="accordion-menu-body">
            <div class="accordion-menu-body__wrapper">
              <div class="accordion-menus__items">
                <a class="accordion-menus__item" href="#">DL360 Gen8</a>
                <a class="accordion-menus__item" href="#">DL360 Gen8</a>
                <a class="accordion-menus__item" href="#">DL360 Gen8</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
