<section class="advantages">
  <div class="container">
    <div class="advantages__inner">
      <div class="swiper js-slider-advantages">
        <div class="advantages__row swiper-wrapper">
          <div class="advantage swiper-slide">
            <div class="advantage__head">
              <div class="advantage__title"
                >20 лет<br />
                на рынке IT</div
              >
            </div>
            <div class="advantage__body">
              <div class="advantage__descr">
                Лучшие цены с 2003 года! Бесперебойные поставки и надежные зарубежные партнеры,
                проверенные временем!
              </div>
            </div>
          </div>

          <div class="advantage swiper-slide">
            <div class="advantage__head">
              <div class="advantage__title"
                >Большой склад<br />
                в Москве</div
              >
            </div>
            <div class="advantage__body">
              <div class="advantage__descr">
                Всегда в наличии 500+ серверы, СХД, комплектующие и эксклюзивное серверное
                оборудование с готовыми решениями любой конфигурации!
              </div>
            </div>
          </div>

          <div class="advantage swiper-slide">
            <div class="advantage__head">
              <div class="advantage__title"
                >Обучение<br />
                и курсы HPE</div
              >
            </div>
            <div class="advantage__body">
              <div class="advantage__descr">
                Не экономим на качестве — экономим в 10 раз при покупке оборудования! Грамотная
                логистика, выбор поставщиков, — все это позволяет нам делать лучшие предложения.
              </div>
            </div>
          </div>

          <div class="advantage swiper-slide">
            <div class="advantage__head">
              <div class="advantage__title"
                >Надежность<br />
                и гарантия 5 лет!</div
              >
            </div>
            <div class="advantage__body">
              <div class="advantage__descr">
                Ваш запрос обрабатывается в течении минуты, а уже через 30 минут на вашей почте
                готовое КП под вашу задачу с правильными расчетами и реально низкими ценами!
              </div>
            </div>
          </div>

          <div class="advantage swiper-slide">
            <div class="advantage__head">
              <div class="advantage__title"
                >20 лет<br />
                на рынке IT</div
              >
            </div>
            <div class="advantage__body">
              <div class="advantage__descr">
                Лучшие цены с 2003 года! Бесперебойные поставки и надежные зарубежные партнеры,
                проверенные временем!
              </div>
            </div>
          </div>

          <div class="advantage swiper-slide">
            <div class="advantage__head">
              <div class="advantage__title"
                >Большой склад<br />
                в Москве</div
              >
            </div>
            <div class="advantage__body">
              <div class="advantage__descr">
                Всегда в наличии 500+ серверы, СХД, комплектующие и эксклюзивное серверное
                оборудование с готовыми решениями любой конфигурации!
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev js-slider-advantages__button js-slider-advantages__button--prev">
        {{> ui/svg id="arrow-big-right" }}
      </div>
      <div class="swiper-button-next js-slider-advantages__button js-slider-advantages__button--next">
        {{> ui/svg id="arrow-big-left"}}
      </div>
    </div>
  </div>
</section>
