<section class="configurator configurator--decor-1 configurator--decor-2">
  <div class="container">
    <div class="configurator__inner">
      <div class="configurator__head">
        <div class="configurator__title">
          Удобный и&nbsp;быстрый подбор сетевого и&nbsp;серверного оборудования HPE
        </div>
        <div class="configurator__descr">
          <p>Любая конфигурация для вашей IT-инфраструктуры в&nbsp;считанные минуты</p>
        </div>
      </div>
      <div class="configurator__footer">
        <div class="configurator__buttons">
          <button class="configurator__button configurator__button--configurator button">
            Умный конфигуратор
          </button>
          <span>или</span>
          <button class="configurator__button button button--flat button--underline">
            Подберет westcomp за 10 минут
          </button>
        </div>
      </div>

      <img src="../../img/gear-big-gradient.png" alt="gear" class="configurator__decor configurator__decor--big-gear">

      <div class="configurator__decor gear-decor-animate">
        <img src="../../img/gear-outside.png" alt="gear" class="gear-decor-animate__outside" />
        <img src="../../img/geag-inner.png" alt="gear" class="gear-decor-animate__inner" />
      </div>
    </div>
  </div>
</section>
