<section class="hero container">
  <div class="hero__button hero__button_previous">
    <svg viewBox="0 0 19 34" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M17.9218 33L1.92188 16.9999L17.9218 1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </div>
  <div class="hero-carousel">
    <div class="hero-carousel__wrapper">
      <div class="hero-carousel__slide">
        <picture>
          <source srcset="../../img/hero-md.jpg" media="(max-width: 1024px)">
          <img src="../../img/hero-lg.png" alt="">
        </picture>
      </div>
      <div class="hero-carousel__slide">
        <picture>
          <source srcset="../../img/hero-md.jpg" media="(max-width: 1024px)">
          <img src="../../img/hero-lg.png" alt="">
        </picture>
      </div>
    </div>
    <div class="hero-carousel__button hero-carousel__button_previous">
        <svg width="23" height="46" viewBox="0 0 23 46" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M23 7.80864e-07L18.4684 0L0 23.0045L18.4684 46H23L4.52245 23.0045L23 7.80864e-07Z" fill="white"/>
        </svg>
    </div>
    <div class="hero-carousel__button hero-carousel__button_next">
        <svg width="23" height="46" viewBox="0 0 23 46" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M-7.62939e-06 46L4.53162 46L23 22.9955L4.53162 2.20014e-06L-3.60795e-06 1.80397e-06L18.4776 22.9955L-7.62939e-06 46Z" fill="white"/>
        </svg>
    </div>
  </div>
  <div class="hero__button hero__button_next">
    <svg viewBox="0 0 19 34" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1.07824 0.999999L17.0781 17.0001L1.07824 33" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </div>
</section>
