<div class="more-about-us">
  <div class="container">
    <h2 class="more-about-us__title">Больше о нас</h2>
    <div class="more-about-us__cards">
      <a class="more-about-us-card" href="#">
        <img class="more-about-us-card__image" src="../../img/hero-slide-bg-1.jpg" alt="">
        <div class="more-about-us-card__text">Наши реквизиты</div>
      </a>
      <a class="more-about-us-card" href="#">
        <img class="more-about-us-card__image" src="../../img/hero-slide-bg-1.jpg" alt="">
        <div class="more-about-us-card__text">Контактная информация</div>
      </a>
      <a class="more-about-us-card" href="#">
        <img class="more-about-us-card__image" src="../../img/hero-slide-bg-1.jpg" alt="">
        <div class="more-about-us-card__text">Информация о доставке</div>
      </a>
      <a class="more-about-us-card" href="#">
        <img class="more-about-us-card__image" src="../../img/hero-slide-bg-1.jpg" alt="">
        <div class="more-about-us-card__text">Информация о компании</div>
      </a>
    </div>
  </div>
</div>
