<section class="services container">
  <div class="services__button services__button_previous">
    <svg viewBox="0 0 19 35" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M17.9218 33.303L1.92188 17.3029L17.9218 1.30298" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </div>
  <div class="services-carousel">
    <div class="services-carousel__wrapper">
      <div class="services-carousel__slide">
        <div class="services__grid-item card-service">
          <div class="card-service__front">
            <div class="card-service__name"> Серверы HPE<br />Proliant </div>
            <img src="../../img/card-service-1.png" alt="" class="card-service__poster" />
          </div>
          <div class="card-service__back">
            <div class="card-service__back-inner">
              <ul class="card-service__list">
                <li>c7000 + BL460c Gen8</li>
                <li>c7000 + BL460c Gen9</li>
                <li>Шасси с7000</li>
                <li>Блейд СХД</li>
                <li>Интерконнекты</li>
                <li>HPE BladeSystem</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="services-carousel__slide">
        <div class="services__grid-item card-service">
          <div class="card-service__front">
            <div class="card-service__name">HPE BladeSystem</div>
            <img src="../../img/card-service-2.jpg" alt="" class="card-service__poster" />
          </div>
          <div class="card-service__back">
            <div class="card-service__back-inner">
              <ul class="card-service__list">
                <li>c7000 + BL460c Gen8</li>
                <li>Интерконнекты</li>
                <li>HPE BladeSystem</li>
                <li>c7000 + BL460c Gen9</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="services-carousel__slide">
        <div class="services__grid-item card-service">
          <div class="card-service__front">
            <div class="card-service__front-inner">
              <img src="../../img/card-service-3.jpg" alt="" class="card-service__poster" />
              <div class="card-service__name">HPE BladeSystem</div>
            </div>
          </div>
          <div class="card-service__back">
            <div class="card-service__back-inner">
              <ul class="card-service__list">
                <li>c7000 + BL460c Gen8</li>
                <li>Интерконнекты</li>
                <li>HPE BladeSystem</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="services-carousel__slide">
        <div class="services__grid-item card-service">
          <div class="card-service__front">
            <div class="card-service__name">HPE BladeSystem</div>
            <img src="../../img/card-service-4.jpg" alt="" class="card-service__poster" />
          </div>
          <div class="card-service__back">
            <div class="card-service__back-inner">
              <ul class="card-service__list">
                <li>c7000 + BL460c Gen8</li>
                <li>Интерконнекты</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="services-carousel__slide">
        <div class="services__grid-item card-service">
          <div class="card-service__front">
            <div class="card-service__name">HPE BladeSystem</div>
            <img src="../../img/card-service-5.jpg" alt="" class="card-service__poster" />
          </div>
          <div class="card-service__back">
            <div class="card-service__back-inner">
              <ul class="card-service__list">
                <li>c7000 + BL460c Gen8</li>
                <li>Интерконнекты</li>
                <li>HPE BladeSystem</li>
                <li>c7000 + BL460c Gen9</li>
                <li>c7000 + BL460c Gen9</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="services-carousel__slide">
        <div class="services__grid-item card-service">
          <div class="card-service__front">
            <div class="card-service__name">HPE BladeSystem</div>
            <img src="../../img/card-service-6.jpg" alt="" class="card-service__poster" />
          </div>
          <div class="card-service__back">
            <div class="card-service__back-inner">
              <ul class="card-service__list">
                <li>c7000 + BL460c Gen8</li>
                <li>Интерконнекты</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="services-carousel__slide">
        <div class="services__grid-item card-service">
          <div class="card-service__front">
            <div class="card-service__name">HPE BladeSystem</div>
            <img src="../../img/card-service-7.jpg" alt="" class="card-service__poster" />
          </div>
          <div class="card-service__back">
            <div class="card-service__back-inner">
              <ul class="card-service__list">
                <li>c7000 + BL460c Gen8</li>
                <li>Интерконнекты</li>
                <li>HPE BladeSystem</li>
                <li>HPE BladeSystem</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="services-carousel__slide">
        <div class="services__grid-item card-service">
          <div class="card-service__front">
            <div class="card-service__name">HPE BladeSystem</div>
            <img src="../../img/card-service-8.jpg" alt="" class="card-service__poster" />
          </div>
          <div class="card-service__back">
            <div class="card-service__back-inner">
              <ul class="card-service__list">
                <li>c7000 + BL460c Gen8</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="services-carousel__slide">
        <div class="services__grid-item card-service">
          <div class="card-service__front">
            <div class="card-service__name">HPE BladeSystem</div>
            <img src="../../img/card-service-9.jpg" alt="" class="card-service__poster" />
          </div>
          <div class="card-service__back">
            <div class="card-service__back-inner">
              <ul class="card-service__list">
                <li>c7000 + BL460c Gen8</li>
                <li>Интерконнекты</li>
                <li>HPE BladeSystem</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="services-carousel__slide">
        <div class="services__grid-item card-service">
          <div class="card-service__front">
            <img src="../../img/card-service-10.jpg" alt="" class="card-service__poster" />
            <div class="card-service__name">HPE BladeSystem</div>
          </div>
          <div class="card-service__back">
            <div class="card-service__back-inner">
              <ul class="card-service__list">
                <li>c7000 + BL460c Gen8</li>
                <li>HPE BladeSystem</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="services__button services__button_next">
    <svg viewBox="0 0 19 35" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1.07824 1.30298L17.0781 17.3031L1.07824 33.303" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </div>
</section>
