<section class="special-offers">
  <div class="container">
    <div class="special-offers__inner">
      <div class="special-offers__head">
        <div class="special-offers__title"> Специальные предложения </div>
        <div class="special-offers__buttons-control">
          <div class="swiper-button-prev">
            {{> ui/svg id="arrow-slider-left" class="arrow-slider-left" }}
          </div>
          <div class="swiper-button-next">
            {{> ui/svg id="arrow-slider-right" class="arrow-slider-right" }}
          </div>
        </div>
      </div>

      <div class="special-offers__slider">
        <div class="swiper js-slider-card">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="card-product">
                <div class="card-product__inner">
                  <div class="card-product__head" data-card-action-bar>
                    <a href="#" class="card-product__action" data-card-action-btn>
                      {{> ui/svg id="graph" }}
                    </a>
                    <a href="#" class="card-product__action card-product__action--favorite" data-card-action-btn>
                      {{> ui/svg id="favorite-2" }}
                    </a>
                  </div>
                  <div class="card-product__body">
                    <div class="card-product__img">
                      <img src="../../img/product-1.png" alt="" />
                    </div>
                    <div class="card-product__info">
                      <a href="#" class="card-product__name" title="HPE Synergy D3940 12Gb"
                        >HPE Synergy D3940 12Gb</a
                      >
                      <div class="card-product__descr">
                        12GB SAS Drive Enclosure with 40 SFF (2.5in) Drive Bays
                      </div>
                    </div>
                  </div>
                  <div class="card-product__footer">
                    <div class="card-product__price">6 900 ₽</div>
                    <div class="card-product__buttons">
                      <a href="#" class="card-product__button card-product__button--plus-decor">
                        <span> {{> ui/svg id="cart" class="cart" }} {{> ui/svg id="plus" class="plus" }} </span>
                      </a>
                      <a href="#" class="card-product__button card-product__button--plus-decor">
                        <span> {{> ui/svg id="gear" class="gear" }} {{> ui/svg id="plus" class="plus" }} </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="card-product">
                <div class="card-product__inner">
                  <div class="card-product__head" data-card-action-bar>
                    <a href="#" class="card-product__action" data-card-action-btn>
                      {{> ui/svg id="graph" }}
                    </a>
                    <a href="#" class="card-product__action card-product__action--favorite" data-card-action-btn>
                      {{> ui/svg id="favorite-2" }}
                    </a>
                  </div>
                  <div class="card-product__body">
                    <div class="card-product__img">
                      <img src="../../img/product-2.png" alt="" />
                    </div>
                    <div class="card-product__info">
                      <a
                        href="#"
                        class="card-product__name"
                        title="Кулер для серверного проце Coolserver R63 LGA1700"
                        >Кулер для серверного проце Coolserver R63 LGA1700</a
                      >
                      <div class="card-product__descr">
                        Переполнение текста невозможно. Максимальное количество строк 4. ExeGate Pro
                      </div>
                    </div>
                  </div>
                  <div class="card-product__footer">
                    <div class="card-product__price">34 670 ₽</div>
                    <div class="card-product__buttons">
                      <a href="#" class="card-product__button card-product__button--plus-decor">
                        <span> 
                          {{> ui/svg id="cart" class="cart" }} 
                          {{> ui/svg id="plus" class="plus" }} 
                        </span>
                      </a>
                      <a href="#" class="card-product__button card-product__button--plus-decor">
                        <span> 
                          {{> ui/svg id="gear" class="gear" }}
                          {{> ui/svg id="plus" class="plus" }} 
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="card-product">
                <div class="card-product__inner">
                  <div class="card-product__head" data-card-action-bar>
                    <a href="#" class="card-product__action" data-card-action-btn>
                      {{> ui/svg id="graph" }}
                    </a>
                    <a href="#" class="card-product__action card-product__action--favorite" data-card-action-btn>
                      {{> ui/svg id="favorite-2" }}
                    </a>
                  </div>
                  <div class="card-product__body">
                    <div class="card-product__img">
                      <img src="../../img/product-3.png" alt="" />
                    </div>
                    <div class="card-product__info">
                      <a href="#" class="card-product__name" title="Xeon E-2336 OEM"
                        >Xeon E-2336 OEM</a
                      >
                      <div class="card-product__descr">
                        12GB SAS Drive Enclosure with 40 SFF (2.5in) Drive Bays 123 teraflops 40Mb's
                        ultraHD XXP Windows Vista
                      </div>
                    </div>
                  </div>
                  <div class="card-product__footer">
                    <div class="card-product__price">129 650 ₽</div>
                    <div class="card-product__buttons">
                      <a href="#" class="card-product__button card-product__button--plus-decor">
                        <span> {{> ui/svg id="cart" class="cart" }} {{> ui/svg id="plus" class="plus"}} </span>
                      </a>
                      <a href="#" class="card-product__button card-product__button--plus-decor">
                        <span> {{> ui/svg id="gear" class="gear" }} {{> ui/svg id="plus" class="plus"}} </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="card-product">
                <div class="card-product__inner">
                  <div class="card-product__head" data-card-action-bar>
                    <a href="#" class="card-product__action" data-card-action-btn>
                      {{> ui/svg id="graph" }}
                    </a>
                    <a href="#" class="card-product__action card-product__action--favorite" data-card-action-btn>
                      {{> ui/svg id="favorite-2" }}
                    </a>
                  </div>
                  <div class="card-product__body">
                    <div class="card-product__img">
                      <img src="../../img/product-4.png" alt="" />
                    </div>
                    <div class="card-product__info">
                      <a href="#" class="card-product__name" title="HPE Synergy D3940 12Gb"
                        >HPE Synergy D3940 12Gb</a
                      >
                      <div class="card-product__descr">
                        12GB SAS Drive Enclosure with 40 SFF (2.5in) Drive Bays 32Gb DDR4 3200MHz
                        Samsung ECC Reg OEM (M393A4K40XXX-CWE) SuperMicro SNK-P0050AP4 Ablecom
                        ACL-S10010 ESNK-P0048AP4.PWM.2U.2011.Cu
                      </div>
                    </div>
                  </div>
                  <div class="card-product__footer">
                    <div class="card-product__price">1 845 900 ₽</div>
                    <div class="card-product__buttons">
                      <a href="#" class="card-product__button card-product__button--plus-decor">
                        <span> {{> ui/svg id="cart" class="cart" }} {{> ui/svg id="plus" class="plus"}} </span>
                      </a>
                      <a href="#" class="card-product__button card-product__button--plus-decor">
                        <span> {{> ui/svg id="gear" class="gear" }} {{> ui/svg id="plus" class="plus"}} </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="card-product">
                <div class="card-product__inner">
                  <div class="card-product__head" data-card-action-bar>
                    <a href="#" class="card-product__action" data-card-action-btn>
                      {{> ui/svg id="graph" }}
                    </a>
                    <a href="#" class="card-product__action card-product__action--favorite" data-card-action-btn>
                      {{> ui/svg id="favorite-2" }}
                    </a>
                  </div>
                  <div class="card-product__body">
                    <div class="card-product__img">
                      <img src="../../img/product-5.jpg" alt="" />
                    </div>
                    <div class="card-product__info">
                      <a
                        href="#"
                        class="card-product__name"
                        title="Кулер для серверного проце Coolserver R63 LGA1700"
                        >Кулер для серверного проце Coolserver R63 LGA1700</a
                      >
                      <div class="card-product__descr">
                        Переполнение текста невозможно. Максимальное количество строк 4. ExeGate Pro
                      </div>
                    </div>
                  </div>
                  <div class="card-product__footer">
                    <div class="card-product__price">6 459 900 ₽</div>
                    <div class="card-product__buttons">
                      <a href="#" class="card-product__button card-product__button--plus-decor">
                        <span> {{> ui/svg id="cart" class="cart" }} {{> ui/svg id="plus" class="plus"}} </span>
                      </a>
                      <a href="#" class="card-product__button card-product__button--plus-decor">
                        <span> {{> ui/svg id="gear" class="gear" }} {{> ui/svg id="plus" class="plus"}} </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="card-product">
                <div class="card-product__inner">
                  <div class="card-product__head" data-card-action-bar>
                    <a href="#" class="card-product__action" data-card-action-btn>
                      {{> ui/svg id="graph" }}
                    </a>
                    <a href="#" class="card-product__action card-product__action--favorite" data-card-action-btn>
                      {{> ui/svg id="favorite-2" }}
                    </a>
                  </div>
                  <div class="card-product__body">
                    <div class="card-product__img">
                      <img src="../../img/product-6.jpg" alt="" />
                    </div>
                    <div class="card-product__info">
                      <a href="#" class="card-product__name" title="Xeon E-2336 OEM"
                        >Xeon E-2336 OEM</a
                      >
                      <div class="card-product__descr">
                        12GB SAS Drive Enclosure with 40 SFF (2.5in) Drive Bays 123 teraflops 40Mb's
                        ultraHD XXP Windows Vista
                      </div>
                    </div>
                  </div>
                  <div class="card-product__footer">
                    <div class="card-product__price">69 900 ₽</div>
                    <div class="card-product__buttons">
                      <a href="#" class="card-product__button card-product__button--plus-decor">
                        <span> {{> ui/svg id="cart" class="cart" }} {{> ui/svg id="plus" class="plus"}} </span>
                      </a>
                      <a href="#" class="card-product__button card-product__button--plus-decor">
                        <span> {{> ui/svg id="gear" class="gear" }} {{> ui/svg id="plus" class="plus"}} </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="card-product">
                <div class="card-product__inner">
                  <div class="card-product__head" data-card-action-bar>
                    <a href="#" class="card-product__action" data-card-action-btn>
                      {{> ui/svg id="graph" }}
                    </a>
                    <a href="#" class="card-product__action card-product__action--favorite" data-card-action-btn>
                      {{> ui/svg id="favorite-2" }}
                    </a>
                  </div>
                  <div class="card-product__body">
                    <div class="card-product__img">
                      <img src="../../img/product-7.jpg" alt="" />
                    </div>
                    <div class="card-product__info">
                      <a href="#" class="card-product__name" title="HPE Synergy D3940 12Gb"
                        >HPE Synergy D3940 12Gb</a
                      >
                      <div class="card-product__descr">
                        12GB SAS Drive Enclosure with 40 SFF (2.5in) Drive Bays 32Gb DDR4 3200MHz
                        Samsung ECC Reg OEM (M393A4K40XXX-CWE) SuperMicro SNK-P0050AP4 Ablecom
                        ACL-S10010 ESNK-P0048AP4.PWM.2U.2011.Cu
                      </div>
                    </div>
                  </div>
                  <div class="card-product__footer">
                    <div class="card-product__price">69 900 ₽</div>
                    <div class="card-product__buttons">
                      <a href="#" class="card-product__button card-product__button--plus-decor">
                        <span> {{> ui/svg id="cart" class="cart" }} {{> ui/svg id="plus" class="plus"}} </span>
                      </a>
                      <a href="#" class="card-product__button card-product__button--plus-decor">
                        <span> {{> ui/svg id="gear" class="gear" }} {{> ui/svg id="plus" class="plus"}} </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
