<div class="tags">
  <div class="container">
    <div class="tags__inner">
      <div class="tags__row">
        <div class="tag tag--accrodion" data-accordion>
          <div class="tag__head" data-accordion-button>Преимущества покупки в WectComp</div>
          <div class="tag__body" data-accordion-content>
            <div class="tag__body-inner">
              <ul class="ul-check">
                <li>Решим запрос в кратчайшие сроки - менеджеры готовят КП в течении 30 минут.</li>
                <li>Собственный большой склад серверного оборудования и комплектующих в Москве.</li>
                <li>Любые конфигурации под Ваши задачи! Все в наличии.</li>
                <li>На купленное б/у серверное оборудование HPE действует гарантия от компании.</li>
                <li>Низкая цена – дешевле нового в 10 раз.</li>
                <li>Бесплатная доставка по Москве и всем регионам России.</li>
                <li
                  >Делаем так, чтобы купленное Вами серверное оборудование работало безотказно!</li
                >
              </ul>
            </div>
          </div>
        </div>
        <div class="tag">Низкая цена — дешевле нового в 10 раз</div>
        <div class="tag">Поставки серверного оборудования в Москве</div>
        <div class="tag">Бесплатная доставка по Москве и по России</div>
      </div>
      <div class="tags__notice">
        Работаем с проверенными вендорами сетевого и серверного оборудования
      </div>
    </div>
  </div>
</div>
