<div class="modal-backdrop" data-modal-configurator>
  <div class="modal">
    <div class="modal-header">
      <button class="modal-header__close-button" type="button">✖</button>
    </div>
    <div class="modal__body">
      {{> forms/configurator}}
    </div>
  </div>
</div>
