<!DOCTYPE html>
<html data-theme="light" class="page page--{{ title }}">
<head>
  {{> layouts/head }}
  <title>{{ title }}</title>
</head>
<body>
  <div id="content">
    {{> layouts/header }}

    <main class="about-us-page">
      <div class="container">
        <div class="about-us-page__breadcrumbs breadcrumbs">
          <a class="breadcrumbs__item" href="/">Главная</a>
          <div class="breadcrumbs__separator">/</div>
          <span class="breadcrumbs__item breadcrumbs__item_active">Компания Westcomp</span>
        </div>
        <h1 class="about-us-page__title">Компания Westcomp</h1>
        <div class="about-us-page__wrapper">
          <div class="about-us-page__body">
            <div class="about-us-page__text">История компании началась в 1999 году. Мы назывались Retroline и занимались поставками и оптовыми продажами б/у ЭЛТ мониторов 17"-24" из США.. В 2003 году компания разделилась на две: WestComp, с расширенным ассортиментом не только мониторов ЭЛТ, но и компьютерами, принтерами, комплектующими и упором на розничную продажу и Accurate IT, продолжившую заниматься оптовыми поставками ЭЛТ мониторов.</div>
            <div class="about-us-page-carousel">
              <img class="about-us-page-carousel__image" src="https://placehold.co/600x400/EEE/31343C" />
              <div class="about-us-page-carousel-swiper-wrapper">
                <div class="about-us-page-carousel-swiper">
                  <div class="about-us-page-carousel-swiper__wrapper">
                    <img class="about-us-page-carousel-swiper__slide" src="https://placehold.co/600x400/EEE/31343C" alt="">
                    <img class="about-us-page-carousel-swiper__slide" src="https://placehold.co/600x400/EEE/31343C" alt="">
                  </div>
                </div>
                <div class="about-us-page-carousel-swiper__button about-us-page-carousel-swiper__button_previous">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path fill="currentColor" d="m14 18l-6-6l6-6l1.4 1.4l-4.6 4.6l4.6 4.6z" />
                  </svg>
                </div>
                <div class="about-us-page-carousel-swiper__button about-us-page-carousel-swiper__button_next">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M12.6 12L8 7.4L9.4 6l6 6l-6 6L8 16.6z" />
                  </svg>
                </div>
              </div>
            </div>
            <div class="about-us-page__text">В 2005 году в ассортименте появились первые серверы и серверные комплектующие, в 2008 году добавились системы хранения и сетевое оборудование. В 2011 году мы начали предлагать блейд системы HP и готовые комплекты и комплектующие, в 2016 году появилось важное и большое направление - системы хранения корпоративного класса HP 3PAR.</div>
            <div class="about-us-page__text">WestComp сегодня это большой и слаженный коллектив профессионалов, готовых не только продать разнообразное IT оборудование и комплектующие, но и предложить комплексные ИТ решения, на базе блейд систем, различные системы хранения корпоративного класса и сетевого оборудования. Рекомендации по эксплуатации и внедрению, пуско-наладочные работы с выездом инженера, после продажная поддержка - наша обычная работа. Мы готовы рассмотреть варианты взаимозачета, подсказать оптимальные варианты модернизации имеющегося оборудования заказчика, привезти необходимы позиции под заказ. Организуем удаленное тестирование серверов и систем хранения, на нашей площадке в ЦОДе.</div>
            <div class="about-us-page__cards">
              <div class="about-us-page-card">
                <div class="about-us-page-card__title">Честные цены</div>
                <div class="about-us-page-card__separator"></div>
                <div class="about-us-page-card__description">
                  Мы стараемся формировать цены исходя из анализа рынка и востребованности оборудования
                </div>
              </div>
              <div class="about-us-page-card">
                <div class="about-us-page-card__title">Moneyback 30 дней</div>
                <div class="about-us-page-card__separator"></div>
                <div class="about-us-page-card__description">
                  На весь товар предоставляется гарантия и бесплатная услуга Moneyback 30 дней
                </div>
              </div>
              <div class="about-us-page-card">
                <div class="about-us-page-card__title">Всегда в наличии</div>
                <div class="about-us-page-card__separator"></div>
                <div class="about-us-page-card__description">
                  Мы стараемся формировать цены исходя из анализа рынка и востребованности оборудования
                </div>
              </div>
              <div class="about-us-page-card">
                <div class="about-us-page-card__title">Бесплатная доставка</div>
                <div class="about-us-page-card__separator"></div>
                <div class="about-us-page-card__description">
                  Мы выполняем бесплатную доставку по России и странам СНГ. Отправка производится в день оплаты.
                </div>
              </div>
            </div>
            <div class="about-us-page__text-row">
              <div class="about-us-page__text">Компания является одной из немногих в России, активно развивающих вторичный рынок IT, который в западных странах занимает до 10% рынка и практически отсутствовал в нашей стране ещё 3-4 года назад. Все товары в каталоге на сайте, имеются в наличии на нашем складе в Москве и могут быть приобретены немедленно с нашей доставкой или самовывозом. На весь товар предоставляется гарантия и бесплатная услуга Moneyback 30 дней.</div>
              <div class="about-us-page__text">Наши клиенты это люди, умеющие оптимально расходовать средства, ценящие надежность и эффективность топового оборудования, которое мы сделали доступным. К нам приходят с ограниченными бюджетами и масштабными задачами, в поисках редких комплектующих снятых с производства, не только из SMB, но и из гос.сектора.</div>
            </div>
          </div>
          <div class="about-us-page__sidebar">
            <div class="latest-news">
              <h4 class="latest-news__title">Последние новости</h4>
              <div class="latest-news__items">
                <a class="latest-news__item" href="#">Серверное оборудование HPE с НДС и в Лизинг</a>
                <a class="latest-news__item" href="#">Новогодний SALE WestComp 2022</a>
                <a class="latest-news__item" href="#">Цены на серверы HPE DL360 10 поколения снижены</a>
                <a class="latest-news__item" href="#">Поступление серверов HPE G9 SSD диски и серверные процессоры V4</a>
                <a class="latest-news__item" href="#">Получили много СХД HPE 3PAR 9450 серии</a>
              </div>
            </div>
          </div>
        </div>
        <div class="about-us-more">
          <h2 class="about-us-more__title">Больше о нас</h2>
          <div class="about-us-more__cards">
            <a class="about-us-more-card" href="#">
              <img class="about-us-more-card__image" src="../img/hero-slide-bg-1.jpg" alt="">
              <div class="about-us-more-card__title">Наши реквизиты</div>
            </a>
            <a class="about-us-more-card" href="#">
              <img class="about-us-more-card__image" src="../img/hero-slide-bg-1.jpg" alt="">
              <div class="about-us-more-card__title">Контактная информация</div>
            </a>
            <a class="about-us-more-card" href="#">
              <img class="about-us-more-card__image" src="../img/hero-slide-bg-1.jpg" alt="">
              <div class="about-us-more-card__title">Информация о доставке</div>
            </a>
            <a class="about-us-more-card" href="#">
              <img class="about-us-more-card__image" src="../img/hero-slide-bg-1.jpg" alt="">
              <div class="about-us-more-card__title">Информация о компании</div>
            </a>
          </div>
        </div>
      </div>
      {{> sections/configurator }}
    </main>

    {{> layouts/footer }}
  </div>

  {{> layouts/modals }}
  {{> layouts/tooltips }}
</body>
</html>
