<!DOCTYPE html>
<html data-theme="light" class="page page--{{ title }}">
<head>
  {{> layouts/head }}
  <title>{{ title }}</title>
</head>
<body>
  <div id="content">
    {{> layouts/header }}

    <main class="product-page">
      <div class="container">
        <div class="breadcrumbs">
          <a class="breadcrumbs__item" href="/">Главная</a>
          <div class="breadcrumbs__separator">/</div>
          <a class="breadcrumbs__item" href="#">Каталог</a>
          <div class="breadcrumbs__separator">/</div>
          <span class="breadcrumbs__item breadcrumbs__item_active">Серверы</span>
        </div>
        <h1 class="product-page__title">Dell Poweredge R730XD 12GB SAS Drive Enclosure with 40 SFF (2.5in) Drive Bays</h1>
        <div class="product-page__content">
          <div class="product-hero">
            <div class="badges-container">
              <div class="badge badge_pink">Скидка</div>
            </div>
            <div class="product-hero-buttons">
              <button class="product-hero-buttons__item" type="button">
                <svg>
                  <use xlink:href="svg/sprite.svg#graph"></use>
                </svg>
              </button>
              <button class="product-hero-buttons__item" type="button">
                <svg>
                  <use xlink:href="svg/sprite.svg#favorite-2"></use>
                </svg>
              </button>
            </div>
            <img class="product-hero__image" src="@src/img/hero-product-1.png" alt="" />
            <div class="product-hero-slider">
              <button class="product-hero-slider__button product-hero-slider__button_previous" type="button">
                <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="32" cy="32" r="32" transform="matrix(-1 0 0 1 64 0)" fill="white" />
                  <path d="M35 21L24 32L35 43" stroke="currentColor " stroke-width="2" />
                </svg>
              </button>
              <div class="product-hero-slider__inner">
                <div class="product-hero-slider__wrapper">
                  <div class="product-hero-slider__slide">
                    <img class="product-hero__image" src="@src/img/hero-product-1.png" alt="" />
                  </div>
                  <div class="product-hero-slider__slide">
                    <img class="product-hero__image" src="@src/img/hero-product-1.png" alt="" />
                  </div>
                  <div class="product-hero-slider__slide">
                    <img class="product-hero__image" src="@src/img/hero-product-1.png" alt="" />
                  </div>
                  <div class="product-hero-slider__slide">
                    <img class="product-hero__image" src="@src/img/hero-product-1.png" alt="" />
                  </div>
                  <div class="product-hero-slider__slide">
                    <img class="product-hero__image" src="@src/img/hero-product-1.png" alt="" />
                  </div>
                  <div class="product-hero-slider__slide">
                    <img class="product-hero__image" src="@src/img/hero-product-1.png" alt="" />
                  </div>
                  <div class="product-hero-slider__slide">
                    <img class="product-hero__image" src="@src/img/hero-product-1.png" alt="" />
                  </div>
                  <div class="product-hero-slider__slide">
                    <img class="product-hero__image" src="@src/img/hero-product-1.png" alt="" />
                  </div>
                  <div class="product-hero-slider__slide">
                    <img class="product-hero__image" src="@src/img/hero-product-1.png" alt="" />
                  </div>
                </div>
              </div>
              <button class="product-hero-slider__button product-hero-slider__button_next" type="button">
                <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="32" cy="32" r="32" fill="white" />
                  <path d="M29 21L40 32L29 43" stroke="currentColor" stroke-width="2" />
                </svg>
              </button>
            </div>
          </div>
          <div class="product-config">
            <div class="product-config__title">Конфигурация Dell Poweredge R730XD 12GB SAS Drive Enclosure</div>
            <div class="product-config__description">В наличии серверные комплектующие, серверы HPE, вычислительные модули, системы хранения данных HPE и сетевое оборудование различного назначения. Каталог сайта содержит готовые серверные решения на базе HPE BladeSystem, HPE Synergy и HPE 3PAR.</div>
            <div class="product-config__items-wrapper">
              <div class="product-config__item-wrapper">
                <div class="product-config-item">
                  <div class="product-config-item__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                      <path d="M1.66607 28H0.666075V29H1.66607V28ZM10.6023 20.478C10.9928 20.0875 10.9928 19.4543 10.6023 19.0638C10.2118 18.6733 9.57861 18.6733 9.18809 19.0638L10.6023 20.478ZM0.666075 18.1251V28H2.66607V18.1251H0.666075ZM1.66607 29H11.541V27H1.66607V29ZM2.37318 28.7071L10.6023 20.478L9.18809 19.0638L0.958968 27.2929L2.37318 28.7071Z" fill="currentColor" />
                      <path d="M27.9999 28H28.9999V29H27.9999V28ZM19.0637 20.478C18.6732 20.0875 18.6732 19.4543 19.0637 19.0638C19.4542 18.6733 20.0874 18.6733 20.4779 19.0638L19.0637 20.478ZM28.9999 18.1251V28H26.9999V18.1251H28.9999ZM27.9999 29H18.125V27H27.9999V29ZM27.2928 28.7071L19.0637 20.478L20.4779 19.0638L28.707 27.2929L27.2928 28.7071Z" fill="currentColor" />
                      <path d="M28 1.66656H29V0.666563H28V1.66656ZM19.0638 9.18857C18.6733 9.5791 18.6733 10.2123 19.0638 10.6028C19.4543 10.9933 20.0875 10.9933 20.478 10.6028L19.0638 9.18857ZM29 11.5415V1.66656H27V11.5415H29ZM28 0.666563H18.1251V2.66656H28V0.666563ZM27.2929 0.959456L19.0638 9.18857L20.478 10.6028L28.7071 2.37367L27.2929 0.959456Z" fill="currentColor" />
                      <path d="M1.66602 1.66656H0.666016V0.666563H1.66602V1.66656ZM10.6022 9.18857C10.9928 9.5791 10.9928 10.2123 10.6022 10.6028C10.2117 10.9933 9.57855 10.9933 9.18803 10.6028L10.6022 9.18857ZM0.666016 11.5415V1.66656H2.66602V11.5415H0.666016ZM1.66602 0.666563H11.541V2.66656H1.66602V0.666563ZM2.37312 0.959456L10.6022 9.18857L9.18803 10.6028L0.958909 2.37367L2.37312 0.959456Z" fill="currentColor" />
                    </svg>
                  </div>
                  <div class="product-config-item__text">
                    2U Rackmount
                  </div>
                </div>
                <div class="product-config-warranty">
                  <div class="product-config-warranty__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="41" height="40" viewBox="0 0 41 40" fill="none">
                      <path d="M14.5 18.7877L18.7631 23.0508L26.3983 15.4157M20.4492 2L5.5 8.20672V15.7518C5.5 25.5164 11.4087 34.31 20.4492 38C29.4896 34.31 35.3983 25.5164 35.3983 15.7518V8.20672L20.4492 2Z" stroke="#2FAE96" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                  </div>
                  <div class="product-config-warranty__wrapper">
                    <div class="product-config-warranty__duration">3 года</div>
                    <div class="product-config-warranty__text">Гарантия</div>
                  </div>
                </div>
              </div>
              <div class="product-config-item">
                <div class="product-config-item__icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                    <path d="M28.5 26C28.5 27.1046 27.6046 28 26.5 28H3.5C2.39543 28 1.5 27.1046 1.5 26V4.425C1.5 3.32043 2.39543 2.425 3.5 2.425H26.5C27.6046 2.425 28.5 3.32043 28.5 4.425V26Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" />
                    <path d="M16.6821 15.5047C16.6821 16.4309 15.9291 17.1816 15.0003 17.1816C14.0714 17.1816 13.3184 16.4309 13.3184 15.5047C13.3184 14.5786 14.0714 13.8278 15.0003 13.8278C15.9291 13.8278 16.6821 14.5786 16.6821 15.5047Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" />
                    <path d="M14.9999 20.5322C12.2192 20.5322 9.95703 18.2766 9.95703 15.5041C9.95703 12.7316 12.2192 10.476 14.9999 10.476C17.7805 10.476 20.0427 12.7316 20.0427 15.5041C20.0427 18.2766 17.7805 20.5322 14.9999 20.5322Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" />
                    <path d="M14.9995 23.8828C10.3656 23.8828 6.5957 20.1239 6.5957 15.5036C6.5957 10.8832 10.3656 7.12423 14.9995 7.12423C19.6335 7.12423 23.4034 10.8832 23.4034 15.5036C23.4034 20.1239 19.6335 23.8828 14.9995 23.8828Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" />
                    <path d="M15 7.12591V13.8282" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" />
                    <path d="M23.4036 15.5046H16.6816" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" />
                    <path d="M15 23.8828V17.1805" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" />
                    <path d="M6.5957 15.5046H13.3177" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" />
                  </svg>
                </div>
                <div class="product-config-item__text">
                  2 x PSU (Hot Plug)
                </div>
              </div>
              <div class="product-config-item">
                <div class="product-config-item__icon">
                  <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <mask id="mask0_403_9573" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="1" width="30" height="29">
                      <path d="M0 1.5H30V30H0V1.5Z" fill="white" />
                    </mask>
                    <g mask="url(#mask0_403_9573)">
                      <path d="M23.7891 29.165H6.21094C5.24016 29.165 4.45312 28.4174 4.45312 27.4951V4.00488C4.45312 3.08258 5.24016 2.33496 6.21094 2.33496H23.7891C24.7598 2.33496 25.5469 3.08258 25.5469 4.00488V27.4951C25.5469 28.4174 24.7598 29.165 23.7891 29.165Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="square" />
                      <path d="M18.5156 25.7695H11.4844V22.4297H18.5156V25.7695Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="square" />
                      <path d="M15 19.0898C11.123 19.0898 7.96875 16.0933 7.96875 12.4102C7.96875 8.72703 11.123 5.73047 15 5.73047C18.877 5.73047 22.0313 8.72703 22.0313 12.4102C22.0313 16.0933 18.877 19.0898 15 19.0898Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="square" />
                      <path d="M13.2422 12.4102C13.2422 11.4879 14.0292 10.7402 15 10.7402C15.9708 10.7402 16.7578 11.4879 16.7578 12.4102C16.7578 13.3325 15.9708 14.0801 15 14.0801C14.0292 14.0801 13.2422 13.3325 13.2422 12.4102Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="square" />
                    </g>
                  </svg>
                </div>
                <div class="product-config-item__text">
                  до 3072GB DDR4 (24 модулей)
                </div>
              </div>
              <div class="product-config-item">
                <div class="product-config-item__icon">
                  <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M26.2547 13.7838C26.2547 12.2378 27.2345 10.9631 28.5 10.7777V6H1.5V10.7777C2.76553 10.9631 3.74526 12.2378 3.74526 13.7838C3.74526 15.3298 2.76553 16.6044 1.5 16.7899V21.5675H28.5V16.7899C27.2345 16.6044 26.2547 15.3298 26.2547 13.7838Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M13.6253 10.0912H9.13477V17.4758H13.6253V10.0912Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M21.4768 10.0912H16.9863V17.4758H21.4768V10.0912Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M10.1835 21.5684H3.46094V27H10.1835V21.5684Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M26.5409 21.5685H13.0957V27.0001H26.5409V21.5685Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </div>
                <div class="product-config-item__text">
                  12LFF / 24SFF (Hot Swap)
                </div>
              </div>
              <div class="product-config-item">
                <div class="product-config-item__icon">
                  <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.83594 22.7297V10.2712C8.83594 9.75561 9.25395 9.3376 9.76955 9.3376H22.2281C22.7437 9.3376 23.1617 9.75561 23.1617 10.2712V22.7297C23.1617 23.2453 22.7437 23.6633 22.2281 23.6633H9.76955C9.25395 23.6633 8.83594 23.2453 8.83594 22.7297Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M10.2383 4.98083V1.50053" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M15.998 4.98083V1.50053" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M21.7578 4.98083V1.50053" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M10.2383 31.5005V28.0202" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M15.998 31.5005V28.0202" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M21.7578 31.5005V28.0202" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M10.2383 4.98083V1.50053" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M15.998 4.98083V1.50053" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M21.7578 4.98083V1.50053" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M10.2383 31.5005V28.0202" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M15.998 31.5005V28.0202" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M21.7578 31.5005V28.0202" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M4.47835 22.2604H0.998047" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M4.47835 16.5005H0.998047" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M4.47835 10.7407H0.998047" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M30.9979 22.2604H27.5176" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M30.9979 16.5005H27.5176" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M30.9979 10.7407H27.5176" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M25.6507 28.0201H6.34573C5.31453 28.0201 4.47852 27.1841 4.47852 26.1529V6.84794C4.47852 5.81674 5.31453 4.98073 6.34573 4.98073H25.6507C26.6819 4.98073 27.5179 5.81674 27.5179 6.84794V26.1529C27.5179 27.1841 26.6819 28.0201 25.6507 28.0201Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </div>
                <div class="product-config-item__text">
                  2 x Intel Xeon E5-2600v3 / Intel Xeon E5-2600v4 серии
                </div>
              </div>
            </div>
            <div class="product-config__separator"></div>
            <div class="product-config__price-wrapper" data-price="313425">
              <div class="product-config-price">
                <div class="product-config-price__text"></div>
                <div class="product-config-price__tax">в том числе НДС 20%</div>
              </div>
              <div class="product-config-amount">
                <button class="product-config-amount__button product-config-amount__button_minus" type="button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="2" viewBox="0 0 14 2" fill="none">
                    <path d="M12.7926 1H1" stroke="currentColor" stroke-width="1.4" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </button>
                <input class="product-config-amount__control" type="number" min="1" value="1">
                <button class="product-config-amount__button product-config-amount__button_plus" type="button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                    <path d="M12.9996 6.84253H1.20703" stroke="currentColor" stroke-width="1.4" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M7.10156 1V12.687" stroke="currentColor" stroke-width="1.4" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </button>
              </div>
              <button class="product-config__button" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="44" viewBox="0 0 60 44" fill="none">
                  <path d="M44 12C44 11.4477 44.4477 11 45 11C45.5523 11 46 11.4477 46 12V20C46 20.5523 45.5523 21 45 21C44.4477 21 44 20.5523 44 20V12Z" fill="currentColor" />
                  <path d="M41 17C40.4477 17 40 16.5523 40 16C40 15.4477 40.4477 15 41 15H49C49.5523 15 50 15.4477 50 16C50 16.5523 49.5523 17 49 17H41Z" fill="currentColor" />
                  <path d="M20.3333 17.3333L19.5 14H17M20.3333 17.3333L22 27.3333M20.3333 17.3333L37 17.3333L35.3333 27.3333H22M33.6667 30.6667H22M33.6667 30.6667C32.7462 30.6667 32 31.4129 32 32.3333C32 33.2538 32.7462 34 33.6667 34C34.5872 34 35.3333 33.2538 35.3333 32.3333C35.3333 31.4129 34.5872 30.6667 33.6667 30.6667ZM22 30.6667C21.0795 30.6667 20.3333 31.4129 20.3333 32.3333C20.3333 33.2538 21.0795 34 22 34C22.9205 34 23.6667 33.2538 23.6667 32.3333C23.6667 31.4129 22.9205 30.6667 22 30.6667ZM22 30.6667L22 27.3333" stroke="currentColor" stroke-width="1.8" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </button>
            </div>
          </div>
          <div class="product-tabs">
            <div class="tabs" data-tabs="product">
              <button class="product-tabs__button" type="button" data-tab="properties">Характеристики</button>
              <button class="product-tabs__button" type="button">Конфигуратор</button>
              <button class="product-tabs__button" type="button">Co-location</button>
              <button class="product-tabs__button" type="button">Отзывы</button>
              <button class="product-tabs__button" type="button">Как рассчитать лизинг</button>
            </div>
            <div class="tabs-contents" data-tabs-contents="product">
              <div class="product-properties" data-tab-content="properties">
                <div class="product-properties__title">Характеристики</div>
                <div class="product-properties__wrapper">
                  <div class="product-properties-item">
                    <div class="product-properties-item__name">Тип платформы</div>
                    <div class="product-properties-item__value">Rackmount</div>
                  </div>
                  <div class="product-properties-item">
                    <div class="product-properties-item__name">Тип платформы</div>
                    <div class="product-properties-item__value">Rackmount</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="product-links">
            <a class="product-links-item" href="#">
              <div class="product-links-item__icon">
                <svg width="14" height="17" viewBox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.50586 4.31121L4.96802 1.00049C4.96802 1.00049 9.21175 1.00049 11.3153 1.00049C11.9526 1.00049 12.4694 1.49463 12.4694 2.10407C12.4694 4.77636 12.4694 11.5711 12.4694 14.2434C12.4694 14.8528 11.9527 15.347 11.3153 15.347C9.20917 15.347 4.76608 15.347 2.65992 15.347C2.0226 15.347 1.50586 14.8528 1.50586 14.2434C1.50586 11.4483 1.50586 4.31121 1.50586 4.31121Z" stroke="currentColor" stroke-width="1.8" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </div>
              <div class="product-links-item__text">Получить коммерческое предложение</div>
            </a>
            <a class="product-links-item" href="#">
              <div class="product-links-item__icon">
                <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16.0059 0.984375H2.00586C1.45357 0.984375 1.00586 1.43209 1.00586 1.98437V11.9844C1.00586 12.5367 1.45357 12.9844 2.00586 12.9844H16.0059C16.5581 12.9844 17.0059 12.5367 17.0059 11.9844V1.98438C17.0059 1.43209 16.5581 0.984375 16.0059 0.984375Z" stroke="currentColor" stroke-width="1.8" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M3.59934 0.984375C2.68443 0.984375 2.24992 2.11129 2.92799 2.72551L8.32717 7.6163C8.72746 7.97892 9.28423 7.97892 9.68452 7.6163L15.0837 2.72552C15.7618 2.11129 15.3273 0.984375 14.4124 0.984375H3.59934Z" stroke="currentColor" stroke-width="1.8" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </div>
              <div class="product-links-item__text">Связаться с менеджером по почте</div>
            </a>
            <a class="product-links-item" href="#">
              <div class="product-links-item__icon">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4.73332 1C3.7433 1 2.79363 1.39334 2.09339 2.09345C1.39339 2.7936 1 3.74319 1 4.73332C1 10.4035 5.59644 15 11.2667 15C12.2567 15 13.2064 14.6067 13.9066 13.9065C14.6066 13.2064 15 12.2568 15 11.2667L10.3333 9.4L9.4 11.7333H9.39951C6.56477 11.7333 4.26668 9.43529 4.26668 6.60046V6.6L6.6 5.66668L4.73332 1Z" stroke="currentColor" stroke-width="1.8" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </div>
              <div class="product-links-item__text">Заказать обратный звонок</div>
            </a>
          </div>
        </div>
      </div>
      <div class="products-cards-slider products-cards-slider_special-offers">
        <div class="container">
          <div class="products-cards-slider-header">
            <div class="products-cards-slider-header__title">Специальные предложения</div>
            <div class="products-cards-slider-header-buttons">
              <div class="products-cards-slider-header-buttons__item products-cards-slider-header-buttons__item_previous">
                <svg width="14" height="24" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13 1L2 12L13 23" stroke="currentColor" stroke-width="2" />
                </svg>
              </div>
              <div class="products-cards-slider-header-buttons__item products-cards-slider-header-buttons__item_next">
                <svg width="14" height="24" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1L12 12L1 23" stroke="currentColor" stroke-width="2" />
                </svg>
              </div>
            </div>
          </div>
          <div class="products-cards-slider-body">
            <div class="products-cards-slider-body__wrapper">
              <div class="products-cards-slider__slide">
                <div class="card-product">
                  <div class="card-product__inner">
                    <div class="card-product__head" data-card-action-bar>
                      <a href="#" class="card-product__action" data-card-action-btn>
                        {{> ui/svg id="graph" }}
                      </a>
                      <a href="#" class="card-product__action card-product__action--favorite" data-card-action-btn>
                        {{> ui/svg id="favorite-2" }}
                      </a>
                    </div>
                    <div class="card-product__body">
                      <div class="card-product__img">
                        <img src="@src/img/product-1.png" alt="" />
                      </div>
                      <div class="card-product__info">
                        <a href="#" class="card-product__name" title="HPE Synergy D3940 12Gb">HPE Synergy D3940 12Gb</a>
                        <div class="card-product__descr">
                          12GB SAS Drive Enclosure with 40 SFF (2.5in) Drive Bays
                        </div>
                      </div>
                    </div>
                    <div class="card-product__footer">
                      <div class="card-product__price">6 900 ₽</div>
                      <div class="card-product__buttons">
                        <a href="#" class="card-product__button card-product__button--plus-decor">
                          <span> {{> ui/svg id="cart" class="cart" }} {{> ui/svg id="plus" class="plus" }} </span>
                        </a>
                        <a href="#" class="card-product__button card-product__button--plus-decor">
                          <span> {{> ui/svg id="gear" class="gear" }} {{> ui/svg id="plus" class="plus" }} </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="products-cards-slider__slide">
                <div class="card-product">
                  <div class="card-product__inner">
                    <div class="card-product__head" data-card-action-bar>
                      <a href="#" class="card-product__action" data-card-action-btn>
                        {{> ui/svg id="graph" }}
                      </a>
                      <a href="#" class="card-product__action card-product__action--favorite" data-card-action-btn>
                        {{> ui/svg id="favorite-2" }}
                      </a>
                    </div>
                    <div class="card-product__body">
                      <div class="card-product__img">
                        <img src="@src/img/product-1.png" alt="" />
                      </div>
                      <div class="card-product__info">
                        <a href="#" class="card-product__name" title="HPE Synergy D3940 12Gb">HPE Synergy D3940 12Gb</a>
                        <div class="card-product__descr">
                          12GB SAS Drive Enclosure with 40 SFF (2.5in) Drive Bays
                        </div>
                      </div>
                    </div>
                    <div class="card-product__footer">
                      <div class="card-product__price">6 900 ₽</div>
                      <div class="card-product__buttons">
                        <a href="#" class="card-product__button card-product__button--plus-decor">
                          <span> {{> ui/svg id="cart" class="cart" }} {{> ui/svg id="plus" class="plus" }} </span>
                        </a>
                        <a href="#" class="card-product__button card-product__button--plus-decor">
                          <span> {{> ui/svg id="gear" class="gear" }} {{> ui/svg id="plus" class="plus" }} </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="products-cards-slider__slide">
                <div class="card-product">
                  <div class="card-product__inner">
                    <div class="card-product__head" data-card-action-bar>
                      <a href="#" class="card-product__action" data-card-action-btn>
                        {{> ui/svg id="graph" }}
                      </a>
                      <a href="#" class="card-product__action card-product__action--favorite" data-card-action-btn>
                        {{> ui/svg id="favorite-2" }}
                      </a>
                    </div>
                    <div class="card-product__body">
                      <div class="card-product__img">
                        <img src="@src/img/product-1.png" alt="" />
                      </div>
                      <div class="card-product__info">
                        <a href="#" class="card-product__name" title="HPE Synergy D3940 12Gb">HPE Synergy D3940 12Gb</a>
                        <div class="card-product__descr">
                          12GB SAS Drive Enclosure with 40 SFF (2.5in) Drive Bays
                        </div>
                      </div>
                    </div>
                    <div class="card-product__footer">
                      <div class="card-product__price">6 900 ₽</div>
                      <div class="card-product__buttons">
                        <a href="#" class="card-product__button card-product__button--plus-decor">
                          <span> {{> ui/svg id="cart" class="cart" }} {{> ui/svg id="plus" class="plus" }} </span>
                        </a>
                        <a href="#" class="card-product__button card-product__button--plus-decor">
                          <span> {{> ui/svg id="gear" class="gear" }} {{> ui/svg id="plus" class="plus" }} </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="products-cards-slider__slide">
                <div class="card-product">
                  <div class="card-product__inner">
                    <div class="card-product__head" data-card-action-bar>
                      <a href="#" class="card-product__action" data-card-action-btn>
                        {{> ui/svg id="graph" }}
                      </a>
                      <a href="#" class="card-product__action card-product__action--favorite" data-card-action-btn>
                        {{> ui/svg id="favorite-2" }}
                      </a>
                    </div>
                    <div class="card-product__body">
                      <div class="card-product__img">
                        <img src="@src/img/product-1.png" alt="" />
                      </div>
                      <div class="card-product__info">
                        <a href="#" class="card-product__name" title="HPE Synergy D3940 12Gb">HPE Synergy D3940 12Gb</a>
                        <div class="card-product__descr">
                          12GB SAS Drive Enclosure with 40 SFF (2.5in) Drive Bays
                        </div>
                      </div>
                    </div>
                    <div class="card-product__footer">
                      <div class="card-product__price">6 900 ₽</div>
                      <div class="card-product__buttons">
                        <a href="#" class="card-product__button card-product__button--plus-decor">
                          <span> {{> ui/svg id="cart" class="cart" }} {{> ui/svg id="plus" class="plus" }} </span>
                        </a>
                        <a href="#" class="card-product__button card-product__button--plus-decor">
                          <span> {{> ui/svg id="gear" class="gear" }} {{> ui/svg id="plus" class="plus" }} </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="products-cards-slider__slide">
                <div class="card-product">
                  <div class="card-product__inner">
                    <div class="card-product__head" data-card-action-bar>
                      <a href="#" class="card-product__action" data-card-action-btn>
                        {{> ui/svg id="graph" }}
                      </a>
                      <a href="#" class="card-product__action card-product__action--favorite" data-card-action-btn>
                        {{> ui/svg id="favorite-2" }}
                      </a>
                    </div>
                    <div class="card-product__body">
                      <div class="card-product__img">
                        <img src="@src/img/product-1.png" alt="" />
                      </div>
                      <div class="card-product__info">
                        <a href="#" class="card-product__name" title="HPE Synergy D3940 12Gb">HPE Synergy D3940 12Gb</a>
                        <div class="card-product__descr">
                          12GB SAS Drive Enclosure with 40 SFF (2.5in) Drive Bays
                        </div>
                      </div>
                    </div>
                    <div class="card-product__footer">
                      <div class="card-product__price">6 900 ₽</div>
                      <div class="card-product__buttons">
                        <a href="#" class="card-product__button card-product__button--plus-decor">
                          <span> {{> ui/svg id="cart" class="cart" }} {{> ui/svg id="plus" class="plus" }} </span>
                        </a>
                        <a href="#" class="card-product__button card-product__button--plus-decor">
                          <span> {{> ui/svg id="gear" class="gear" }} {{> ui/svg id="plus" class="plus" }} </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    {{> layouts/footer }}
  </div>

  {{> layouts/modals }}
  {{> layouts/tooltips }}
</body>
</html>
