*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  color: var(--color-main);
  background-color: var(--bg-color-main);

  transition-timing-function: $transition-timing-function;
  transition-duration: $transition-duration;
  transition-property: background-color, color;

  // &.transition-theme-animate {
  //   html,
  //   body,
  //   a,
  //   button {
  //     transition-duration: 0s !important;
  //   }
  // }

  &:not(.is-ready) {
    * {
      transition-duration: 0s !important;
    }
  }
}

body {
  &.no-scroll {
    overflow: hidden;
  }
}

picture {
  display: block;

  img {
    width: 100%;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.picture-ratio {
  --ratio: 100%;

  position: relative;

  &::before {
    display: block;
    width: 100%;
    padding-bottom: var(--ratio);
    content: '';
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.home-page {
  &__bottom {
    background: linear-gradient(180deg, #eff8fe 0%, #EDFBFC 100%);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top center;
  }
}
